 <!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/template/NiceAdmin/assets/img/favicon.png" rel="icon">
  <link href="/xdm/template/NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/template/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/template/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src="/xdm/jquery/jquery-3.7.1.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/xdm/template/NiceAdmin/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="/xdm/template/NiceAdmin/assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">계정에 접속하세요</h5>
                    <p class="text-center small">아이디와 패스웨드를 입력하세요</p>
                  </div>

                  <form class="row g-3 needs-validation" id="form" novalidate>

                    <div class="col-12">
                      <label for="id" class="form-label">아이디</label>
                      <div class="input-group has-validation">
                        <input type="text" name="id" class="form-control" id="id" value="admin" required>
                        <div class="invalid-feedback"  id="idError">아이디를 입력하세요</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">패스워드</label>
                      <input type="password" name="password" class="form-control" id="password" value="1" required>
                      <div class="invalid-feedback" id="passwordError">패스워드를 입력하세요</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">기억하시겠습니까?</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="button" id="buttonSignIn">로그인</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">계정이 없으신가요? <a href="pages-register.html">계정 생성</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
  
  <!-- 모달 -->
  <div class="modal fade" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalConfirmTitle">title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="modalConfirmBody">
				body
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal"><i class="bi bi-caret-left"></i></button>
				<button type="button" class="btn btn-danger btn_custom" name="" id="btnModalDelete"><i class="bi bi-x-lg"></i></button>
				<button type="button" class="btn btn-danger btn_custom" name="" id="btnModalUelete"><i class="bi bi-trash"></i></button>
			</div>
		</div>
	</div>
  </div>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="/xdm/template/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/template/NiceAdmin/assets/js/main.js"></script>
  
  <script type="text/javascript">
	 document.getElementById("buttonSignIn").addEventListener("click",function(event){
	 event.preventDefault();
	 validation();
   	
		
	 });
	 
function validation() {
	 	document.getElementById("id").classList.remove("is-invalid");
	 	document.getElementById("id").classList.remove("is-valid");

	 	document.getElementById("password").classList.remove("is-invalid");
		document.getElementById("password").classList.remove("is-valid");
	    
	 	document.getElementById("idError").textContent = '';
	 	document.getElementById("passwordError").textContent = '';
	 
		let isValid = true; 
		
		const id = document.getElementById("id").value;
 		let expIdText = /^[A-Za-z]{4,20}$/;
		if(id == null || id == ""){
			document.getElementById("idError").textContent = "아이디를 입력해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			isValid = false;
		}else if(id.trim() != id){
			document.getElementById("idError").textContent = "띄어쓰기를 제거해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			isValid = false;
		}else if(!expIdText.test(id)){
			document.getElementById("idError").textContent = "영어로 구성된 4~10자리의 아이디를 작성해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("id").classList.add("is-valid");
		} 
 		
		const password = document.getElementById("password").value;
		let reg = /* /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{1,15}$/ *//^[0-9]{1,3}$/;
	 	if(!reg.test(password)){
			document.getElementById("passwordError").textContent =/*  "적어도 하나의 영문자, 숫자,특수문자(!@#$%^*+=-)를 포함한 패스워드를 입력하세요."; */ "최대 3자리 숫자패스워드를 입력하세요.";
			document.getElementById("password").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("password").classList.add("is-valid");
		}
		
	
	 

	if(isValid){
	
	$.ajax({
		async: true 
		,cache: false
		,type: "post"
		,url: "/xdm/member/SigninXdmProc"
		,data : { "id" : $("#id").val(), "password" : $("#password").val()}
		,success: function(response) {
			
			if(response.rt == "success") {
				location.href = "/xdm/member/MemberXdmList";
				
			} else {
				
		 		/* document.getElementById("modalAlertTitle").innerText = "확 인";
		 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!"; 
		 		$("#modalAlert").modal("show"); */
		 		alert("다시 아이디 혹은 비밀번호가 다릅니다");
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
	}else {
        console.log("유효성 검사 실패: 폼 제출 안 함");
  	}
}
</script>

</body>
</html>
