<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sake.module.codegroup.CodeGroupDao">
<resultMap type="com.sake.module.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>


	<sql id = "selectCommon">
 		from codeGroup as a
 		where 1=1
 			<if test="shUseNy != null and !shUseNy.equals('')">AND a.cg_use = #{shUseNy}</if>		 
  	      	<if test="shDelNy != null and !shDelNy.equals('')">AND a.cg_delny = #{shDelNy}</if>
  	      	
  	      		<choose>
					<when test="shOptionDate == 1">AND a.cg_register BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.cg_modifDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose> 
        <choose>
            <when test="shOption == 1">AND a.cg_id = #{shValue}</when>
            <when test="shOption == 2">AND a.cg_name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
	</sql>	
	
	
	
	
	<select id = "selectOneCount" resultType="Integer">   <!-- result 타입이여서 integer -->
		SELECT COUNT(*)	
		<include refid="selectCommon"></include>
	</select>
	



	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
				a.cg_id,
				a.cg_use,
				(select count(*) from code b
				where 1=1
				AND a.cg_id = b.codeGroup_cg_id
				) as xcd_count,
				a.cg_name,
				a.cg_order,
				a.cg_register,
				a.cg_modifDate
			<include refid="selectCommon"></include>
			ORDER BY a.cg_id desc
		)aa
		limit #{startRnumForMysql}, #{rowNumToShow}	
	</select>
	
	<select id="selectView" resultMap = "resultMapObj">
		select
			a.cg_id,
			a.cg_use,
			a.cg_name,
			(select count(*) from code b
			where 1=1
			AND a.cg_id = b.codeGroup_cg_id
			) as xcd_count,
			a.cg_order,
			a.cg_register,
			a.cg_modifDate
		from
			codeGroup a
		WHERE a.cg_id = #{cg_id}
		ORDER BY a.cg_id desc
	</select>
	
	<insert id="insert">
		insert into codeGroup(
			cg_id,
			cg_use,
			cg_name,
			cg_order,
			cg_register
		)values(
			#{cg_id},
			#{cg_use},
			#{cg_name},
			#{cg_order},
			now()
		)
		<selectKey resultType="String" keyProperty="cg_id" order="AFTER">
		Select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update codeGroup 
		set
		cg_use =#{cg_use},
		cg_name =#{cg_name},
		cg_order =#{cg_order},
		cg_modifDate = now()	
		where
		cg_id = #{cg_id}
	</update>


	<update id="uelete">
		update codeGroup
		set
		cg_use = 0,
		cg_modifDate = now()
		where cg_id in
    <foreach collection="cgIds" item="cgId" open="(" separator="," close=")">
        #{cgId}
    </foreach>
	</update>
	
	
	
	
	
	
	
</mapper>
	