<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sake.module.code.CodeDao">
<resultMap type="com.sake.module.code.CodeDto" id="resultMapObj"></resultMap>

	<sql id = "selectCommon">
 		from code as a
 		left join codeGroup b on b.cg_id = a.codeGroup_cg_id
		where 1=1
 		 <if test="shUseNy != null and !shUseNy.equals('')">AND a.cd_use = #{shUseNy}</if>
         <if test="shDelNy != null and !shDelNy.equals('')">AND a.cd_delny = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate == 1">AND a.cd_register BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.cd_modifDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			
        <choose>
            <when test="shOption == 1 and shValue != null and shValue != ''">AND b.cg_id = #{shValue}</when>
            <when test="shOption == 2 and shValue != null and shValue != ''">AND b.cg_name LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3 and shValue != null and shValue != ''">AND a.cd_name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
	</sql>
	
	
	<select id = "selectOneCount" resultType="Integer">   <!-- result 타입이여서 integer -->
		SELECT COUNT(*)	
		<include refid="selectCommon"></include>
	</select>


	<select id ="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
			a.cd_id,
			a.cd_use,
			b.cg_id,
       		b.cg_name,
			a.cd_name,
			a.cd_order,
			a.cd_register,
			a.cd_modifDate
		<include refid="selectCommon"></include>
		ORDER BY a.cd_id desc
		)aa
		limit #{startRnumForMysql}, #{rowNumToShow}		
	</select>
	
	<select id ="selectView" resultMap="resultMapObj">
			select
			a.cd_id,
			a.cd_use,
			b.cg_id,
       		b.cg_name,
			a.cd_name,
			a.cd_order,
			a.codeGroup_cg_id,
			a.cd_register,
			a.cd_modifDate
		from code as a
 		left join codeGroup b on b.cg_id = a.codeGroup_cg_id
		where a.cd_id = #{cd_id}<!--여기서는 id만 값을 가져와서쓴다-->
		ORDER BY a.cd_id desc
	</select>
	
	
	<select id ="selectCg" resultMap="resultMapObj">
		select
			a.cg_id,
        	a.cg_name
		from 
		codeGroup as a
			where 1=1
 		ORDER BY a.cg_id desc
	</select>
	
	<insert id="insert">
	 	insert into code(
	 		cd_id,
	 		cd_use,
	 		cd_name,
	 		cd_order,
	 		cd_register,
	 		cd_modifDate,
	 		codeGroup_cg_id
	 	)values(
	 		#{cd_id},
	 		#{cd_use},
	 		#{cd_name},
	 		#{cd_order},
	 		now(),
	 		null,
	 		<if test="codeGroup_cg_id == null">NULL</if>
        	<if test="codeGroup_cg_id != null">#{codeGroup_cg_id}</if>
	 	)
	 	<selectKey resultType="String" keyProperty="cd_id" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			cd_id,
			cd_name,
			codeGroup_cg_id
		FROM
			code
		WHERE 1=1
		    AND cd_use = 1
   </select>
	
	<update id="update">
		update code 
		set
		cd_use =#{cd_use},
		cd_name =#{cd_name},
		cd_order =#{cd_order},
		codeGroup_cg_id = #{codeGroup_cg_id},
		cd_modifDate = now() 
		where
		cd_id = #{cd_id}
	</update>
	
	<update id="uelete">
		update code
		set
		cd_use = 0,
		cd_modifDate = now()
		where cd_id in
    <foreach collection="cdIds" item="cdId" open="(" separator="," close=")">
        #{cdId}
    </foreach>
	</update>

</mapper>