<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sake.module.code.CodeDao">
<resultMap type="com.sake.module.code.CodeDto" id="resultMapObj"></resultMap>

	<sql id = "selectCommon">
 		from code as a
 		left join codeGroup b on b.cg_id = a.codeGroup_cg_id
		where 1=1
 		ORDER BY a.cd_id desc
	</sql>
	
	
	<select id = "selectOneCount" resultType="Integer">   <!-- result 타입이여서 integer -->
		SELECT COUNT(*)	
		<include refid="selectCommon"></include>
	</select>


	<select id ="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
			a.cd_id,
			a.cd_use,
			b.cg_id,
       		b.cg_name,
			a.cd_name,
			a.cd_order
		<include refid="selectCommon"></include>
		)aa
		limit #{startRnumForMysql}, #{rowNumToShow}		
	</select>
	
	
	<select id ="selectCg" resultMap="resultMapObj">
		select
			a.cg_id,
        	a.cg_name
		from 
		codeGroup as a
			where 1=1
 		ORDER BY a.cg_id desc
	</select>
	
	<insert id="insert">
	 	insert into code(
	 		cd_id,
	 		cd_use,
	 		cd_name,
	 		cd_order,
	 		codeGroup_cg_id
	 	)values(
	 		#{cd_id},
	 		#{cd_use},
	 		#{cd_name},
	 		#{cd_order},
	 		<if test="codeGroup_cg_id == null">NULL</if>
        	<if test="codeGroup_cg_id != null">#{codeGroup_cg_id}</if>
	 	)
	 	<selectKey resultType="String" keyProperty="cd_id" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			cd_id,
			cd_name,
			codeGroup_cg_id
		FROM
			code
		WHERE 1=1
		    AND cd_use = 1
   </select>
	

</mapper>