<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sake.module.product.ProductDao">
<resultMap type="com.sake.module.product.ProductDto" id="resultMapObj"></resultMap>


	<sql id = "selectCommon">
 		from product as a
 		left join discount b on b.dc_id = a.discount_dc_id
 		where 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.pd_use = #{shUseNy}</if>
         <if test="shDelNy != null and !shDelNy.equals('')">AND 0 = #{shDelNy}</if>
         <if test="shlocal != null and !shlocal.equals('')">AND a.local = #{shlocal}</if>
         <if test="shtype != null and !shtype.equals('')">AND a.type = #{shtype}</if>
         <if test="shbrand != null and !shbrand.equals('')">AND a.brand = #{shbrand}</if>
				
		<choose>
			<when test="shOptionDate == 1">AND a.pd_regiDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.pd_modiDate  BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
        <choose>
            <when test="shOption == 1">AND b.cg_id = #{shValue}</when>
            <when test="shOption == 2">AND b.cg_name LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.cd_name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>								<!--검색기능 넣지않음-->
	</sql>	
	
	<select id = "selectOneCount" resultType="Integer">   <!-- result 타입이여서 integer -->
		SELECT COUNT(*)	
		<include refid="selectCommon"></include>
	</select>

	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		select
			a.pd_id,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.product_number,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			b.discount_dateS,
			b.discount_dateF,
			a.pd_use,
			a.pd_regiDate,
			a.pd_modiDate
		<include refid="selectCommon"></include>
		ORDER BY a.pd_id desc
		)aa
		limit #{startRnumForMysql}, #{rowNumToShow}		
	</select>


	<select id="selectView" resultMap="resultMapObj">
		select
			a.pd_id,
			a.pd_use,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.product_number,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			b.discount_dateS,
			b.discount_dateF,
			a.pd_regiDate,
			a.pd_modiDate
		from product as a
 		left join discount b on b.dc_id = a.discount_dc_id
 		where 1=1
 		and pd_id = #{pd_id}
 		ORDER BY a.pd_id desc		
	</select>
	
	<select id="dcView" resultMap="resultMapObj">
		select
			a.dc_id,
			a.discount_name
		from discount as a
		where 1=1
		ORDER BY a.dc_id desc		
	</select>
	
	
	<insert id="insert">
	insert into product(
			pd_id,
			pd_use,
			name,
			local,
			local_detail,
			brand,
			type,
			capacity,
			liquor,
			fixed_price,
			discountNY,
			product_number,
			pd_regiDate,
			pd_modiDate,
			discount_dc_id
	)
	values(
		#{pd_id},
		#{pd_use},
	 	#{name},
	 	#{local},
	 	#{local_detail},
	 	#{brand},
	 	#{type},
	 	#{capacity},
	 	#{liquor},
	 	#{fixed_price},
	 	#{discountNY},
	 	#{product_number},
	 	now(),
	 	0
	 	<if test="discount_dc_id== null">NULL</if>
        <if test="discount_dc_id != null">#{discount_dc_id}</if>
	)
	<selectKey resultType="String" keyProperty="pd_id" order="AFTER">
			Select last_insert_id()
	</selectKey>
	</insert>
	
	
	<update id="update">
		update product set
		name = #{name},
		pd_use = #{pd_use},
		local = #{local},
		local_detail = #{local_detail},
		brand = #{brand},
		type = #{type},
		capacity = #{capacity},
		liquor = #{liquor},
		fixed_price = #{fixed_price},
		discountNY = #{discountNY},
		product_number = #{product_number},
		pd_modiDate = now(),
		discount_dc_id = <if test="discount_dc_id== null">1</if>
        				 <if test="discount_dc_id != null">#{discount_dc_id}</if>
		WHERE 1=1
		and pd_id = #{pd_id}
	</update>
	
	<update id="uelete">
		update product
		set
		pd_use = 0,
		pd_modiDate = now() 
		where pd_id in
    <foreach collection="pdIds" item="pdId" open="(" separator="," close=")">
        #{pdId}
    </foreach>
	</update>
	
	<select id="menu" resultMap="resultMapObj">
		select
			a.cd_id,
			a.cd_name
		from
		 	code as a
		 	where 1=1
		 	and cd_id = #{cd_id}
	</select>
	
	
</mapper>