<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sake.module.product.ProductDao">
<resultMap type="com.sake.module.product.ProductDto" id="resultMapObj"></resultMap>


	<sql id = "selectCommon">
 		from product as a
 		left join discount b on b.dc_id = a.discount_dc_id
 		where 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.pd_use = #{shUseNy}</if>
         <if test="shDelNy != null and !shDelNy.equals('')">AND 0 = #{shDelNy}</if>
         <if test="shlocal != null and !shlocal.equals('')">AND a.local = #{shlocal}</if>
         <if test="shtype != null and !shtype.equals('')">AND a.type = #{shtype}</if>
         <if test="shbrand != null and !shbrand.equals('')">AND a.brand = #{shbrand}</if>
				
		<choose>
			<when test="shOptionDate == 1">AND a.pd_regiDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.pd_modiDate  BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
        <choose>
            <when test="shOption == 1">AND a.pd_id = #{shValue}</when>
            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>								<!--검색기능 넣지않음-->
	</sql>	
	
	<select id = "selectOneCount" resultType="Integer">   <!-- result 타입이여서 integer -->
		SELECT COUNT(*)	
		<include refid="selectCommon"></include>
	</select>

	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		select
			a.pd_id,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.pd_quantity,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			b.discount_dateS,
			b.discount_dateF,
			a.pd_use,
			a.pd_regiDate,
			a.pd_modiDate
		<include refid="selectCommon"></include>
		ORDER BY a.pd_id desc
		)aa
		limit #{startRnumForMysql}, #{rowNumToShow}		
	</select>


	<select id="selectView" resultMap="resultMapObj">
		select
			a.pd_id,
			a.pd_use,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.pd_quantity,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			b.discount_dateS,
			b.discount_dateF,
			a.pd_regiDate,
			a.pd_modiDate,
			c.path
		from product as a
 		left join discount b on b.dc_id = a.discount_dc_id
 		left join productUploaded c on c.pseq = a.pd_id
 		where 1=1
 		and a.pd_id = #{pd_id}
 		ORDER BY a.pd_id desc		
	</select>
	
	<select id="dcView" resultMap="resultMapObj">
		select
			a.dc_id,
			a.discount_name
		from discount as a
		where 1=1
		ORDER BY a.dc_id desc		
	</select>
	
	
	<insert id="insert">
	insert into product(
			pd_id,
			pd_use,
			name,
			local,
			local_detail,
			brand,
			type,
			capacity,
			liquor,
			fixed_price,
			discountNY,
			pd_quantity,
			pd_regiDate,
			discount_dc_id
	)
	values(
		#{pd_id},
		#{pd_use},
	 	#{name},
	 	#{local},
	 	#{local_detail},
	 	#{brand},
	 	#{type},
	 	#{capacity},
	 	#{liquor},
	 	#{fixed_price},
	 	#{discountNY},
	 	#{pd_quantity},
	 	now(),
	 	<if test="discount_dc_id== null">1</if>
        <if test="discount_dc_id != null">#{discount_dc_id}</if>
	)
	<selectKey resultType="String" keyProperty="pd_id" order="AFTER">
			Select last_insert_id()
	</selectKey>
	</insert>
	
	
	<update id="update">
		update product set
		name = #{name}
		,pd_use = #{pd_use}
		,local = #{local}
		,local_detail = #{local_detail}
		,brand = #{brand}
		,type = #{type}
		,capacity = #{capacity}
		,liquor = #{liquor}
		,fixed_price = #{fixed_price}
		,discountNY = #{discountNY}
		,pd_quantity = #{pd_quantity}
		,pd_modiDate = now()
		,discount_dc_id = <if test="discount_dc_id== null">1</if>
        				 <if test="discount_dc_id != null">#{discount_dc_id}</if>
		WHERE 1=1
		and pd_id = #{pd_id}
	</update>
	
	<update id="uelete">
		update product
		set
		pd_use = 0,
		pd_modiDate = now() 
		where pd_id in
    <foreach collection="pdIds" item="pdId" open="(" separator="," close=")">
        #{pdId}
    </foreach>
	</update>
	
	<select id="menu" resultMap="resultMapObj">
		select
			a.cd_id,
			a.cd_name
		from
		 	code as a
		 	where 1=1
		 	and cd_id = #{cd_id}
	</select>
	
	
	
	
	<select id="localcheck" resultMap="resultMapObj">
		select
			a.cd_id,
			a.cd_name
		from
			code_inclusion ci
		left join code a on ci.child_code_id = a.cd_id
		
		where ci.parent_code_id = #{cd_id}
	</select>
	
	
	
	<!-- ################################### 유저   ############################################# -->
	<!--지역  -->
	<select id="localList" resultMap="resultMapObj">
		select
			a.pd_id,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.pd_quantity,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			c.path
		from
			product a
			join discount b on b.dc_id = a.discount_dc_id
			left join productUploaded c on c.pseq = a.pd_id
			where 1=1
			and a.local = #{local}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	
	<select id="countlocalList" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			product
		Where 1=1
			and local = #{local}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	
	<!--상세지역  -->
	<select id="localDetailList" resultMap="resultMapObj">
		select
			a.pd_id,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.pd_quantity,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			c.path
		from
			product a
			join discount b on b.dc_id = a.discount_dc_id
			left join productUploaded c on c.pseq = a.pd_id
			where 1=1
			and a.local_detail = #{local_detail}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	<select id="countlocalDetailList" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			product
		Where 1=1
			and local_detail = #{local_detail}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	<!--상세지역  -->
	<select id="typeList" resultMap="resultMapObj">
		select
			a.pd_id,
			a.name,
			a.local,
			a.local_detail,
			a.brand,
			a.type,
			a.capacity,
			a.liquor,
			a.fixed_price,
			a.discountNY,
			a.pd_quantity,
			a.discount_dc_id,
			b.dc_id,
			b.discount_name,
			b.discount_rate,
			c.path
		from
			product a
			left join discount b on b.dc_id = a.discount_dc_id
			left join productUploaded c on c.pseq = a.pd_id
			where 1=1
			and a.type = #{type}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	<select id="counttypeList" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			product
		Where 1=1
			and type = #{type}
			LIMIT #{vo.rowNumToShow} OFFSET #{vo.startRnumForMysql}
	</select>
	
	
	 <select id="filterProducts" resultMap="resultMapObj">
 	 	SELECT
    		a.pd_id,
   			a.name,
   			a.local,
   			a.local_detail,
    		a.brand,
    		a.type,
    		a.capacity,
    		a.liquor,
    		a.fixed_price,
    		a.discountNY,
    		a.pd_quantity,
    		a.discount_dc_id,
    		b.dc_id,
    		b.discount_name,
    		b.discount_rate,
    		c.path
  		FROM
    		product a
    		LEFT JOIN discount b ON b.dc_id = a.discount_dc_id
    		LEFT JOIN productUploaded c ON c.pseq = a.pd_id
  		WHERE 1=1
  		<if test="local != null">AND a.local = #{local}</if>
  		<if test="local_detail != null">AND a.local_detail = #{local_detail}</if>
  		<if test="type != null">AND a.type = #{type}</if>
  		<if test="minPrice != null">AND a.fixed_price &gt;= #{minPrice}</if>
  		<if test="maxPrice != null">AND a.fixed_price &lt;= #{maxPrice}</if>
  		<if test="keyword != null and keyword != ''">AND name LIKE CONCAT('%', #{keyword}, '%')</if>
  		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}		
	</select>
	
	
	
	<select id="filterProductCount" resultType="Integer">
  		SELECT COUNT(*)
  		FROM product a
  		<where>
    	<if test="local != null">AND a.local = #{local}</if>
    	<if test="local_detail != null">AND a.local_detail = #{local_detail}</if>
    	<if test="type != null">AND a.type = #{type}</if>
    	<if test="minPrice != null">AND a.fixed_price &gt;= #{minPrice}</if>
    	<if test="maxPrice != null">AND a.fixed_price &lt;= #{maxPrice}</if>
    	<if test="keyword != null and keyword != ''">AND a.name LIKE CONCAT('%', #{keyword}, '%')</if>
  		</where>
	</select>
	
	
	
	
	
	
	
	<select id="urlcount" resultType="Integer">
        SELECT COUNT(*) FROM productUploaded WHERE pseq = #{pseq}
    </select>
	
	
</mapper>