
<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 <div th:replace = "~{user/include/header :: header}"></div> 
	<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav item -->
							<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="account-orders.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										주문 내역
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link active" href="account-settings.html">
										<i class="feather-icon icon-settings me-2"></i>
										계정 설정
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-setting-password.html">
										<i class="feather-icon icon-settings me-2"></i>
										비밀번호 변경
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-setting-withdraw.html">
										<i class="feather-icon icon-settings me-2"></i>
										계정 탈퇴
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-address.html">
										<i class="feather-icon icon-map-pin me-2"></i>
										주소
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-payment-method.html">
										<i class="feather-icon icon-credit-card me-2"></i>
										결제방법
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-notification.html">
										<i class="feather-icon icon-bell me-2"></i>
										알람
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="../sake_homepage.html">
										<i class="feather-icon icon-log-out me-2"></i>
										로그아웃
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">내 계정</h2>
							</div>
							<div>
								<!-- heading -->
								<h5 class="mb-4">계정 설정</h5>
								<div class="row">
									<div class="col-lg-5">
										<!-- form -->
										<form class="needs-validation" novalidate>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="a">이름</label>
												<input type="text" class="form-control" placeholder="이름" id ="a" disabled>
												<div class="invalid-feedback">Please enter correct name.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="b">고유통관번호</label>
												<input type="text" class="form-control" placeholder="고유통관번호" id="b" required/>
												<div class="invalid-feedback">Please enter correct ProperCustomsClearance.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="f">아이디</label>
												<input type="text" class="form-control" placeholder="아이디" id="f" required/>
												<div class="invalid-feedback">Please enter correct ID.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="e">성별</label>
												<select class="form-control" id="e" disabled>
													<option value="1">남성</option>
													<option value="2">여성</option>
												</select>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="c">이메일</label>
												<input type="email" class="form-control" placeholder="example@gmail.com" id="c" required/>
												<div class="invalid-feedback">Please enter correct email.</div>
											</div>
											<!-- input -->
											<div class="mb-5">
												<label class="form-label" for="d">전화번호</label>
												<input type="text" class="form-control" placeholder="전화번호" id="d" disabled/>
											</div>
											<!-- button -->
											<div class="mb-3">
												<button type="submit" class="btn btn-primary">저장</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div th:replace ="~{user/include/footer :: footer}"></div>
</body>

</html>