
<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 <div th:replace = "~{user/include/header :: header}"></div> 
 
	<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav item -->
							<div th:replace = "~{user/include/accountUl :: accountUl }"></div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">내 계정</h2>
							</div>
							<div class="pe-lg-14">
								<!-- heading -->
								<h5 class="mb-4">비밀번호</h5>
								<form  method="post" id="form" class="row row-cols-1 row-cols-lg-2 needs-validation" novalidate>
									<!-- input -->
									<div class="mb-3 col">
										<label class="form-label" for="password">현재 비밀번호</label>
										<input type="password" class="form-control" id="password" name="password" placeholder="**********" required/>
										<div class="invalid-feedback" id="passwordError">패스워드를 입력하세요.</div>
									</div>
									<div class= "col-12"></div>
									<!-- input -->
									<div class="mb-3 col">
										<label class="form-label" for="nwpw">새 비밀번호</label>
										<input type="password" class="form-control" id="nwpw" name="nwpw" placeholder="**********" required/>
										<div class="invalid-feedback" id="nwpwError">새 비밀번호를 입력하세요.</div>
									</div>
									<div class= "col-12"></div>
									<!-- input -->
									<div class="mb-3 col">
										<label class="form-label" for="nwpwcheck">새 비밀번호 확인</label>
										<input type="password" class="form-control" id="nwpwcheck" name="nwpwcheck" placeholder="**********" required/>
										<div class="invalid-feedback"  id="nwpwcheckError">Please enter correct password.</div>
									</div>
									<div class= "col-12"></div>
									<!-- input -->
									<div class="col-12">
										<p class="mb-4">
											현재 비밀번호가 생각나지 않으신가요?
											<a href="#">비밀번호 초기화</a>
										</p>
										<button type="button" id="set" class="btn btn-primary">비밀번호 저장</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	 <!-- 모달 -->
   <div id="successModal" class="modal">
        <div class="modal-content">
            <p>비밀번호 변경이 완료되었습니다!</p>
            <button id="closeModal">확인</button>
        </div>
    </div>
	
	<div th:replace ="~{user/include/footer :: footer}"></div>
	
	<script type="text/javascript">
  document.getElementById("set").onclick = function() {
	  	document.getElementById("password").classList.remove("is-invalid");
	    document.getElementById("password").classList.remove("is-valid");
	    document.getElementById("passwordError").textContent = '';
	    
	  	document.getElementById("nwpw").classList.remove("is-invalid");
	    document.getElementById("nwpw").classList.remove("is-valid");
	    document.getElementById("nwpwError").textContent = '';
	    
	  	document.getElementById("nwpwcheck").classList.remove("is-invalid");
	    document.getElementById("nwpwcheck").classList.remove("is-valid");
	    document.getElementById("nwpwcheckError").textContent = '';
	    
	    const password = document.getElementById("password").value;
	    const nwpw = document.getElementById("nwpw").value;
	    const nwpwchceck = document.getElementById("nwpwcheck").value;
		let reg = /* /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{1,15}$/ *//^[0-9a-zA-Z]{1,10}$/; 
		let value = true;
		
		if(password == null || password == ""){
			document.getElementById("passwordError").textContent = "패스워드 값을 넣어주세요";
			document.getElementById("password").classList.add("is-invalid");
			value = false;
  		}else if(!reg.test(password)){
			document.getElementById("passwordError").textContent =/*  "적어도 하나의 영문자, 숫자,특수문자(!@#$%^*+=-)를 포함한 패스워드를 입력하세요."; */ "숫자 또는 영어 패스워드를 입력하세요.";
			document.getElementById("password").classList.add("is-invalid");
			value = false;
		}else{
			document.getElementById("password").classList.add("is-valid");
		}
		
		if(nwpw == null || nwpw == ""){
			document.getElementById("nwpwError").textContent = "신규 패스워드 값을 넣어주세요";
			document.getElementById("nwpw").classList.add("is-invalid");
			value = false;
  		}else if(!reg.test(nwpw)){
			document.getElementById("nwpwError").textContent =/*  "적어도 하나의 영문자, 숫자,특수문자(!@#$%^*+=-)를 포함한 패스워드를 입력하세요."; */ "숫자 또는 영어 패스워드를 입력하세요.";
			document.getElementById("nwpw").classList.add("is-invalid");
			value = false;
		}else{
			document.getElementById("nwpw").classList.add("is-valid");
		}
		
  		if(nwpwchceck == null || nwpwchceck == ""){
			document.getElementById("nwpwcheckError").textContent = "새 패스워드 확인 값을 넣어주세요";
			document.getElementById("nwpwcheck").classList.add("is-invalid");
			value = false;
  		}else if(nwpwchceck != nwpw){
			document.getElementById("nwpwcheckError").textContent = " 새 패스워드와 확인이 일치하지않습니다.";
			document.getElementById("nwpwcheck").classList.add("is-invalid");
			value = false;
		}else{
			document.getElementById("nwpwcheck").classList.add("is-valid");
		}
 		
  		if(value){
			$.ajax({
		      	async: true,
		      	cache: false,
		      	type: "post",
		      	url: "/user/account/CheckPwProc",  
		      	data: {"password" : $("#password").val()},
		      	success: function(response) {
		        	if(response.pw === "success") {
		        		
		        		const currentPw = $("#password").val();
		        		const newPw = $("#nwpw").val();

		        		if (currentPw === newPw) {
		        			document.getElementById("nwpwError").textContent = "기존 비밀번호와 동일합니다. 다른 비밀번호를 입력해주세요.";
		        			document.getElementById("nwpw").classList.add("is-invalid");
		        			return;
		        		}
		        		
		        		document.getElementById("password").classList.remove("is-invalid");
		    	  		document.getElementById("password").classList.remove("is-valid");	
		    	  		document.getElementById("password").classList.add("is-valid");
		    	  		form.action = "/user/account/ChangePwProc";
		    	  		const successModal = document.getElementById("successModal");
		    	        successModal.style.display = "block";
		    	        setTimeout(() => {
		    	            document.getElementById("form").submit();
		    	        }, 1500);		
		        	}else if(response.pw === "fail") {
		        		document.getElementById("password").classList.remove("is-invalid");
		    	  		document.getElementById("password").classList.remove("is-valid");	
		    	  		document.getElementById("passwordError").textContent = '';
		    	  		document.getElementById("passwordError").textContent = "비밀번호가 일치하지않습니다.";
						document.getElementById("password").classList.add("is-invalid");
		        	}
		      	},
		      	error: function(jqXHR, textStatus, errorThrown) {
		        alert("서버 오류 발생: " + textStatus + " / " + errorThrown);
		      }
		    });
  		}
	};
		  
  </script>
	
</body>

</html>