
<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 <div th:replace = "~{user/include/header :: header}"></div> 
	<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav item -->
							<div th:replace = "~{user/include/accountUl :: accountUl }"></div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">내 계정</h2>
							</div>
							<div>
								<!-- heading -->
								<h5 class="mb-4">계정 설정</h5>
								<div class="row">
									<div class="col-lg-5">
										<!-- form -->
										<form  method="post" id="form" class="needs-validation" novalidate>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="a">이름</label>
												<input type="text" class="form-control" placeholder="이름" name ="name" th:value ="${item?.name}" disabled>
												<div class="invalid-feedback">Please enter correct name.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="b">고유통관번호</label>
												<input type="text" class="form-control" placeholder="고유통관번호" name ="clearance" th:value ="${item?.clearance}" required/>
												<div class="invalid-feedback">Please enter correct ProperCustomsClearance.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="f">아이디</label>
												<input type="text" class="form-control" placeholder="아이디" name ="id" th:value ="${item?.id}"  required/>
												<div class="invalid-feedback">Please enter correct ID.</div>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="e">성별</label>
												<select class="form-control" name ="gender" th:value ="item.gender" disabled>
													<option value="1" th:selected ="item.gender == 1">남성</option>
													<option value="2" th:selected ="item.gender == 2">여성</option>
												</select>
											</div>
											<!-- input -->
											<div class="mb-3">
												<label class="form-label" for="c">이메일</label>
												<input type="email" class="form-control" placeholder="example@gmail.com" name ="email" th:value ="${item?.email}" required/>
												<div class="invalid-feedback">Please enter correct email.</div>
											</div>
											<!-- input -->
											<div class="mb-5">
												<label class="form-label" for="d">전화번호</label>
												<input type="text" class="form-control" placeholder="전화번호" id="d" disabled/>
											</div>
											<!-- button -->
											<div class="mb-3">
												<button type="button" id="setting" class="btn btn-primary">저장</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div th:replace ="~{user/include/footer :: footer}"></div>
</body>

</html>