<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 <div th:replace = "~{user/include/header :: header}"></div> 
<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav -->
							<div th:replace = "~{user/include/accountUl :: accountUl }"></div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="d-flex justify-content-between mb-6">
								<!-- heading -->
								<h2 class="mb-0">주소</h2>
								<!-- button -->
								
								<button type="button" class="btn btn-outline-primary" onclick="location.href='/user/account/UserAccountAddAddress'">주소 추가하기</button>
							</div>
							<div class="row">
								<!-- col -->
								<div class="col-xl-5 col-lg-6 col-xxl-4 col-12 mb-4">
									<!-- form -->
									<div class="card">
										<div class="card-body p-6">
											<div class="form-check mb-4">
												<input class="form-check-input" type="radio" name="flexRadioDefault"
													id="homeRadio" checked />
												<label class="form-check-label text-dark fw-semibold"
													for="homeRadio">집</label>
											</div>
											<!-- address -->
											<p class="mb-6">
												서울
												<br>
												노원구
												<br>
												한글비석로480
												<br>
												1111
											</p>
											<!-- btn -->
											<a href="#" class="btn btn-info btn-sm">기본 주소</a>
											<div class="mt-4">
												<a href="#" class="text-inherit">편집</a>
												<a href="#" class="text-danger ms-3" data-bs-toggle="modal"
													data-bs-target="#deleteModal">삭제</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xk-5 col-lg-6 col-xxl-4 col-12 mb-4">
									<!-- input -->
									<div class="card">
										<div class="card-body p-6">
											<div class="form-check mb-4">
												<input class="form-check-input" type="radio" name="flexRadioDefault"
													id="officeRadio" />
												<label class="form-check-label text-dark fw-semibold"
													for="officeRadio">사무실</label>
											</div>
											<!-- nav item -->
											<p class="mb-6">
												경기도
												<br />
												고양시
												<br />
												여기저기
												<br />
												402-776-1106
											</p>
											<!-- link -->
											<a href="#" class="btn btn-info btn-sm">기본 주소</a>
											<div class="mt-4">
												<a href="#" class="text-inherit">편집</a>
												<!-- btn -->
												<a href="#" class="text-danger ms-3" data-bs-toggle="modal"
													data-bs-target="#deleteModal">삭제</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</main>
		<div th:replace ="~{user/include/footer :: footer}"></div>
</body>

</html>