<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

	<div th:replace= "~{user/include/accountHeader::header}"></div>


  <main>
    <!-- section -->
    <section class="my-lg-14 my-8">
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
          <!-- <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2"> -->
            <!-- img -->
            <!-- <img src="../assets/images/svg-graphics/signin-g.svg" alt="" class="img-fluid" />
          </div> -->
          <!-- col -->
          <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1" style="margin-left: 0px;">
            <div class="mb-lg-9 mb-5" style="text-align: center;">
              <h1 class="mb-1 h2 fw-bold" >로그인</h1>
              <p >Welcome back to ST.Sake!</p>
            </div>

            <form class="needs-validation" method="post" id="form" novalidate>
            
              <div class="row g-3">
            

              
                <!-- row -->

                <div class="col-12">
                  <label for="id" class="form-label">아이디</label>
                      <div class="input-group has-validation">
                        <input type="text" name="id" class="form-control" id="id"  value ="test" required>
                        <div class="invalid-feedback"  id="idError">아이디를 입력하세요</div>
                      </div>
                </div>
                <div class="col-12">
                  <!-- input -->
                  <div class="password-field position-relative">
                    <label for="password" class="form-label">패스워드</label>
                      <input type="password" name="password" class="form-control" id="password" value="123!q" required>
                      <div class="invalid-feedback" id="passwordError">패스워드를 입력하세요
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <!-- form check -->
                  <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                  </div> -->
                  <!-- <div>
                    비밀번호를 잊으셨습니까?
                    <a href="../pages/forgot-password.html">Reset It</a>
                  </div> -->
                </div>
                <!-- btn -->
                <div class="col-12 d-grid"><button type="button" id="buttonSignIn" class="btn btn-primary">로그인</button></div>
                <!-- link -->
                <div style="text-align: center;">
                  계정이 없으십니까?
                  <a href="/user/sign/signup">회원가입</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  
  <!-- 모달 -->
  <!-- 모달 창 -->
<div id="modalAlert" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAlertTitle">확 인</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalAlertBody">일치하는 회원이 존재하지 않습니다!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>

  <!-- Footer -->
  <!-- footer -->
  <div th:replace = "~{user/include/accountFooter::footer}"></div>
  <!-- Javascript-->
  <!-- Libs JS -->
  <script src="/user/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/user/template/assets/libs/simplebar/dist/simplebar.min.js"></script>

  <!-- Theme JS -->
  <script src="/user/template/assets/js/theme.min.js"></script>

  <script src="/user/template/assets/js/vendors/password.js"></script>
  <script src="/user/template/assets/js/vendors/validation.js"></script>
  
  <script type="text/javascript">
  $("#modalAlert").modal("hide");
  </script> 
  
  <script type="text/javascript">
  $(".close, .btn-secondary").on("click", function () {
	    $("#modalAlert").modal("hide");
	});
  </script> 
  


  
  <script type="text/javascript">
  document.getElementById("buttonSignIn").addEventListener("click",function(event){
		 event.preventDefault();
		 validation();
	   	
	});
		 
	function validation() {
		 	document.getElementById("id").classList.remove("is-invalid");
		 	document.getElementById("id").classList.remove("is-valid");

		 	document.getElementById("password").classList.remove("is-invalid");
			document.getElementById("password").classList.remove("is-valid");
		    
		 	document.getElementById("idError").textContent = '';
		 	document.getElementById("passwordError").textContent = '';
		 
			let isValid = true; 
			
			const id = document.getElementById("id").value;
	 		let expIdText = /^[A-Za-z]{4,20}$/;
	 		const password = document.getElementById("password").value;
	 		var reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{5,15}$/;
	 		
			if(id == null || id == ""){
				document.getElementById("idError").textContent = "아이디를 입력해주세요.";
				document.getElementById("id").classList.add("is-invalid");
				isValid = false;
			}else if(!reg.test(password)){
				document.getElementById("passwordError").textContent =/*  "적어도 하나의 영문자, 숫자,특수문자(!@#$%^*+=-)를 포함한 패스워드를 입력하세요."; */ "패스워드를 입력하세요.";
				document.getElementById("password").classList.add("is-invalid");
				isValid = false;
			}
		if(isValid){
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/user/sign/SigninUserProc"
			,data : { "id" : $("#id").val(), "password" : $("#password").val()}
			,success: function(response) {
				
				if(response.rt == "success") {
					location.href = "/user/index/UserIndex";
				}else if(response.rt == "fail"){	
		 		document.getElementById("modalAlertTitle").innerText = "확 인";
		 		document.getElementById("modalAlertBody").innerText = "일치하는 회원 혹은 비밀번호가 존재 하지 않습니다!"; 
		 		$("#modalAlert").modal("show"); 
		 		document.getElementById("password").value = "";  // 비밀번호 초기화
		 	    document.getElementById("password").focus();     // 포커스
		 	  	document.getElementById("password").classList.remove("is-invalid");
		 	  	document.getElementById("password").classList.add("is-invalid");		 	  	
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
		}else {
	        console.log("유효성 검사 실패: 폼 제출 안 함");
	  	}
	}
  </script>
  
  
</body>

</html>