 <!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 	

<div th:replace ="~{user/include/accountHeader::header}"></div>


  <main>
    <!-- section -->
    <div>

    <section class="my-lg-14 my-8" >
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
          <!-- <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2"> -->
            <!-- img -->
            <!-- <img src="../assets/images/svg-graphics/signup-g.svg" alt="" class="img-fluid" />
          </div> -->
          <!-- col -->
          <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1" style="margin-left: 0px;">
            <div class="mb-lg-9 mb-5" style= "text-align: center;">
              <h1 class="mb-1 h2 fw-bold">회원가입</h1>
              <p>Welcome to ST.Sake!</p>
            </div>
            <!-- form -->
            <form action="/user/sign/signupInst" method="post" id="form" class="needs-validation" novalidate>
              <div class="row g-3">
              
                <div class="col-8">
                  <input type="hidden" name="user_id" value="0">
                  <input type="hidden" name="user_delny" value="1">
                  <label for="name" class="form-label visually">이름</label>
                  <input type="text" class="form-control" id="name" placeholder="이름" required name ="name"/>
                  <div class="invalid-feedback" id ="nameError">Please select a valid state.</div>
                </div>
                <div class = "col-4">
                	<label for="gender" class="form-label">성별</label>
                  	<select class="form-select" aria-label="Default select example" name ="gender" id="gender" th:value="${item?.gender}">
                  		<option value ="">선택하세요</option>
                    	<option th:each="list : ${@codeService.selectListCachedCode(2)}" th:value="${list.cd_id}" th:text="${list.cd_name}" th:selected="${list.cd_id} == ${item?.gender}"></option>
                  	</select><div class="invalid-feedback" id ="genderError">Please select a valid state.</div>
              	</div>
                
                <div class="col-12">
                  	<label for="birthday" class="form-label">생일</label>
                	<input type="text" class="form-control" id="birthday" name ="birthday" placeholder="생년월일" required>
                	<div class="invalid-feedback" id ="birthdayError">Looks good!</div>
                </div>
                <div class="col-12">
                  <label for="clearance" class="form-label">고유통관번호</label>
                	<input type="text" class="form-control" id="clearance" placeholder="고유통관번호" required name="clearance">
                <div class="invalid-feedback" id="clearanceError">Looks good!</div>
                </div>
                <div class="col-12">
                 	 <label for="id" class="form-label" >아이디</label>
                	 <input type="text" class="form-control" id="id" required name ="id"  placeholder="아이디">
               		 <div class="invalid-feedback" id="idError">Looks good!</div>
                </div>
                <div class="col-12">        
                  <label for="email" class="form-label">이메일</label>
                	<input type="text" class="form-control" id="email" placeholder="이메일형식" required name="email">
                	<div class="invalid-feedback" id="emailError">Looks good!</div>
                </div>
                <div class="col-12">
                  <div class="password-field position-relative">
                    <label for="password" class="form-label">패스워드</label>
                	<input type="password" class="form-control" id="password" placeholder="특수문자, 영어대소문자, 숫자를 하나씩 입력" required name="password">
                	
                	<div class="invalid-feedback" id="passwordError">Looks good!</div>
                    </div>
                  </div>
                
       
                <div class="col-12">
                  <div class="password-field position-relative">
                    <label for="formSignupPassword1" class="form-label visually">패스워드 확인</label>
                    <div class="password-field position-relative">
                      <input type="password" class="form-control fakePassword" id="pwch"
                        placeholder="Password confirm" required />
                      <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                      <div class="invalid-feedback" id="pwchError">password disagreement.</div>
                    </div>
                  </div>
                </div>
                
            	<div class="col-12" >
                <button type="button" class="btn btn-primary" id="user_submit">회원가입</button>
              	</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    </div>
  </main>
  
    <!-- 모달 -->
   <div id="successModal" class="modal">
        <div class="modal-content">
            <p>회원가입이 성공적으로 완료되었습니다!</p>
            <button id="closeModal">확인</button>
        </div>
    </div>

    <script src="script.js"></script>
    <!-- 모달끝 -->

  <!-- Footer -->
  <!-- footer -->
  <div th:replace = "~{user/include/accountFooter::footer}"></div>
   <script src="/user/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/user/template/assets/libs/simplebar/dist/simplebar.min.js"></script>

  <!-- Theme JS -->
  <script src="/user/template/assets/js/theme.min.js"></script>

  <script src="/user/template/assets/js/vendors/password.js"></script>

  <script src="/user/template//assets/js/vendors/validation.js"></script>
  
 
 <script src="/xdm/js/jquery.datetimepicker.full.min.js"></script>
  <script src="/xdm/template/NiceAdmin/assets/js/main.js"></script>
  
  
  
  <script type="text/javascript">	
  jQuery.datetimepicker.setLocale('de');

  jQuery('#birthday').datetimepicker({
   i18n:{
    de:{
     months:[
      '1월','2월','3월','4월',
      '5월','6월','7월','8월',
      '9월','10월','11월','12월',
     ],
     dayOfWeek:[
    	 "일요일", "월요일", "화요일", "수요일",
    	    "목요일", "금요일", "토요일"
     ]
    }
   },
   timepicker:false,
   format:'Y.m.d'
  });
  </script>
  
  
  <script type="text/javascript">
  document.getElementById("id").addEventListener("blur", function() {
	  	document.getElementById("id").classList.remove("is-invalid");
	    document.getElementById("id").classList.remove("is-valid");
	    document.getElementById("idError").textContent = '';
	    
	    const id = document.getElementById("id").value;
 		let expIdText = /^[가-힣A-Za-z]{4,20}$/;
		if(id == null || id == ""){
			document.getElementById("idError").textContent = "아이디를 입력해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			return;
		}else if(id.trim() != id){
			document.getElementById("idError").textContent = "띄어쓰기를 제거해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			return;
		}else if(!expIdText.test(id)){
			document.getElementById("idError").textContent = "영/한 4~10자리의 아이디를 만드세요.";
			document.getElementById("id").classList.add("is-invalid");
			return;
		}else{
			document.getElementById("id").classList.add("is-valid");
		} 
 		 
		$.ajax({
		      async: true,
		      cache: false,
		      type: "post",
		      url: "/user/sign/SignupIdProc",  // 서버에서 중복 확인을 처리해주는 곳
		      data: {"id" : $("#id").val()},
		      success: function(response) {
		        if(response.rt === "success") {
		        	document.getElementById("id").classList.remove("is-invalid");
		    	  	document.getElementById("id").classList.remove("is-valid");	
		    	  	document.getElementById("id").classList.add("is-valid");
		        }else if (response.rt === "fail") {
		        	document.getElementById("id").classList.remove("is-invalid");
		    	  	document.getElementById("id").classList.remove("is-valid");	
		    	  	document.getElementById("idError").textContent = '';
		    	  	document.getElementById("idError").textContent = "이미 아이디가 존재합니다.";
					document.getElementById("id").classList.add("is-invalid");
		        }
		      },
		      error: function(jqXHR, textStatus, errorThrown) {
		        alert("서버 오류 발생: " + textStatus + " / " + errorThrown);
		      }
		    });
		  });	    
  </script>
  
  <script type="text/javascript">
  document.getElementById("clearance").addEventListener("blur", function() {
	  	document.getElementById("clearance").classList.remove("is-invalid");
	    document.getElementById("clearance").classList.remove("is-valid");
	    document.getElementById("clearanceError").textContent = '';
	    
	    const clearance1 = document.getElementById("clearance").value;
 	   	let iciNoRule = /^(p|P)[1-6]{1}[0-9]{11}$/;
 		 if(!iciNoRule.test(clearance1)){
			document.getElementById("clearanceError").textContent = "발급받은 고유통관번호를 입려해주세요.(p와 12자리의 값을 입력해주세요)";
			document.getElementById("clearance").classList.add("is-invalid");
			return;
		}else{
			document.getElementById("clearance").classList.add("is-valid");
		}
 		 
		$.ajax({
		      async: true,
		      cache: false,
		      type: "post",
		      url: "/user/sign/SignupClProc",  // 서버에서 중복 확인을 처리해주는 곳
		      data: {"clearance" : $("#clearance").val()},
		      success: function(response) {
		        if(response.rt === "success") {
		        	document.getElementById("clearance").classList.remove("is-invalid");
		    	  	document.getElementById("clearance").classList.remove("is-valid");	
		    	  	document.getElementById("clearance").classList.add("is-valid");
		        }else if (response.rt === "fail") {
		        	document.getElementById("clearance").classList.remove("is-invalid");
		    	  	document.getElementById("clearance").classList.remove("is-valid");	
		    	  	document.getElementById("clearance").textContent = '';
		    	  	document.getElementById("clearanceError").textContent = "이미 아이디가 존재합니다.";
					document.getElementById("clearance").classList.add("is-invalid");
		        }
		      },
		      error: function(jqXHR, textStatus, errorThrown) {
		        alert("서버 오류 발생: " + textStatus + " / " + errorThrown);
		      }
		    });
		  });	    
  </script>
  
  
  <script type="text/javascript">
  document.getElementById("user_submit").addEventListener("click",function(event){
	  
	  	let seq = document.querySelector("input[name=user_id]");
		event.preventDefault();
		
		
		document.getElementById("name").classList.remove("is-invalid");
		document.getElementById("name").classList.remove("is-valid");
		
	    document.getElementById("gender").classList.remove("is-invalid");
	    document.getElementById("gender").classList.remove("is-valid");
	   
	    document.getElementById("birthday").classList.remove("is-invalid");
	    document.getElementById("birthday").classList.remove("is-valid");
	   
	    /* document.getElementById("clearance").classList.remove("is-invalid");
	    document.getElementById("clearance").classList.remove("is-valid"); */
	    
	    /* document.getElementById("id").classList.remove("is-invalid");
	    document.getElementById("id").classList.remove("is-valid"); */
	    
	    document.getElementById("email").classList.remove("is-invalid");
	    document.getElementById("email").classList.remove("is-valid");
	    
	    document.getElementById("password").classList.remove("is-invalid");
	    document.getElementById("password").classList.remove("is-valid");
	    
	    document.getElementById("pwch").classList.remove("is-invalid");
	    document.getElementById("pwch").classList.remove("is-valid");
	    
	    
	    
	    
		
		document.getElementById("nameError").textContent = '';  		
  		document.getElementById("genderError").textContent = '';
  		document.getElementById("birthdayError").textContent = '';
 		/* document.getElementById("clearanceError").textContent = ''; */
 		/* document.getElementById("idError").textContent = ''; */
 		document.getElementById("emailError").textContent = '';
 		document.getElementById("passwordError").textContent = '';
 		document.getElementById("pwchError").textContent = '';
 	
      	      
		let isValid = true; 
	    
		
		const name = document.getElementById("name").value;
		let n = /^[가-힣]{2,5}$/;
		if(name == null || name == ""){
			document.getElementById("nameError").textContent = "이름을 넣어주세요.";
			document.getElementById("name").classList.add("is-invalid");
			isValid = false;
		}else if(name.trim() != name){
			document.getElementById("nameError").textContent = "띄어쓰기를 제거해주세요.";
			document.getElementById("name").classList.add("is-invalid");
			isValid = false;
		}else if(!n.test(name)){
			document.getElementById("nameError").textContent = "한글이름이 2~5글자 사이가 아닙니다.";
			document.getElementById("name").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("name").classList.add("is-valid");
		}
	    
		const gender = document.getElementById("gender").value;
		if(gender == null || gender == ""){
			document.getElementById("genderError").textContent = "성별을 선택해주세요";
			document.getElementById("gender").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gender").classList.add("is-valid");
		}
		
		const birthday = document.getElementById("birthday").value; 
		if(birthday == null || birthday == ""){
			document.getElementById("birthdayError").textContent = "생년월일을 선택해주세요";
			document.getElementById("birthday").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("birthday").classList.add("is-valid");
		}
		
 	    const clearance = document.getElementById("clearance").value;
 		 if(clearance == null || clearance == ""){
			document.getElementById("clearanceError").textContent = "발급받은 고유통관번호를 입려해주세요.";
			document.getElementById("clearance").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("clearance").classList.add("is-valid");
		}
 		 
 		 const id = document.getElementById("id").value;
 		let expIdText = /^[A-Za-z]{4,20}$/;
		if(id == null || id == ""){
			document.getElementById("idError").textContent = "아이디를 입력해주세요.";
			document.getElementById("id").classList.add("is-invalid");
			isValid = false;
		}
 		 
		const email = document.getElementById("email").value;
		let regEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
 		 if(!regEmail.test(email)){
			document.getElementById("emailError").textContent = " 올바른 이메일 형식을 입력해주세요.";
			document.getElementById("email").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("email").classList.add("is-valid");
		}
		
		
		const password = document.getElementById("password").value;
		var reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{5,15}$/
	 	if(!reg.test(password)){
			document.getElementById("passwordError").textContent = "적어도 하나의 영문자, 숫자,특수문자(!@#$%^*+=-)를 포함한 5~15자리 패스워드를 입력하세요.";
			document.getElementById("password").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("password").classList.add("is-valid");
		}
		
		const pwch = document.getElementById("pwch").value;
		if(pwch == null || pwch == ""){
			document.getElementById("pwchError").textContent = "패스워드 확인에 대한 값을 넣어주세요";
			document.getElementById("pwch").classList.add("is-invalid");
			isValid = false;
		}
		else if(pwch.length<5 || pwch.length>15){
			document.getElementById("pwchError").textContent = "패스워드 확인의 값이 5자리 미만 혹은 15자리 초과입니다.";
			document.getElementById("pwch").classList.add("is-invalid");
			isValid = false;
		}else if(password != pwch){
			document.getElementById("pwchError").textContent = "패스워드랑 일치하지않습니다.";
			document.getElementById("pwch").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("pwch").classList.add("is-valid");
		}
 		 
 		 
 		 
		if(isValid){
			
			const successModal = document.getElementById("successModal");
	        successModal.style.display = "block"; // 모달 표시

	        // 1.5초 후에 폼 제출
	        setTimeout(() => {
	            document.getElementById("form").submit();
	        }, 1500);		
		}else {
          console.log("유효성 검사 실패: 폼 제출 안 함");
		}
      
	});
//모달 닫기 버튼 이벤트
  document.getElementById("closeModal").addEventListener("click", function () {
      document.getElementById("successModal").style.display = "none";
  });
  
  
  </script>
  

  

</body>

</html>