.a{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
}        



.ceiling{
    border-bottom: 1px solid;
    max-width: 1600px;
}

.ceil1{
    align-items: flex-start;
}

.logarray{
    display: flex;
    justify-content:center;
}
.log{
    padding: auto;
    max-width: 50px;
    min-width: 20px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    
}
.logarray > .logname{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50px;
    min-width: 20px;
    width: 100%;
}
.logarray > .logname > p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}

.col-2 > .logarray{
    height: 100%;
    align-items: center;
}

.col-2 > .logarray > div > button{
    flex-shrink: 0; /* 부모 크기에 따라 크기가 축소되지 않도록 설정 */
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

   /* 메뉴판 설정중*/
.body> .col-2 > nav{
    height: 100vh;
    border-right: 1px solid;
}

.meun{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-height: 300px;
    height: 100%;
    margin-left: 0px;
    padding-right: 0px;
}


.body> .col-2> .row > .meun> .lin{
    position: relative;
    color: white;
    overflow: visible;
    z-index: 1;
}
.body> .col-2> .row > .meun> .lin> a{
    position: relative;
    text-decoration: none;
    color: black;
}

            /* 중앙 정보 */

p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}

.cen{
    position: relative;
    display: inline-block;
    border: 1px;
    padding: 0px 0px;
    background-color: rgb(239, 239, 240);
}


.par{
    font-size: 40px;
    text-align: left;
    padding: 0px;

}
.a > div> nav > ol{
    margin: 0px;
}

.firstbody{
    display: flex;
}

.fbele{
    margin: 5px;
    justify-items: center;
}

.fbele > button{
    border: none;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 0px;
}

.fbele > input{

    height: 100%;
    width: 100%;
}

.bu{
    display: flex;
    flex-direction: row;
}

.cent{
    padding: 2ppx;
}
table > tr{
    text-align: center;
}

table > tr> th{
    align-content: center;
    text-align: center;
}

.a{
    padding-left: 30px;
}

.firstbody{
    padding-left: 30px;
    padding-bottom: 5px;
}
.bb{
    margin: 0px;
    background-color: white;
}
.bb > .col-6{
    justify-items: end;
}
.bb > .col-6 > select{
    width: 300px;
}

.fi{
    margin-bottom: 0px;
}
.wrapfin{
    display: flex;
    padding-bottom: 10px;
}

.wrapfin > .col-3 >button{
    size: 10px;
}

.wrapfin > .col-3 >.garb{
    max-width: 36.55px;
    max-height: 38px;
    width: 100%;
    height: 100%;
    background-image: url(./img/information.jpg);
    background-size: cover;
    background-position: center;
    background-color: red;
}

.wrapfin > .fini{
    text-align: right;
}

.logarray > div > button{
    margin: 0px;
    height: 100%;
}
