.a{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
}        



.ceiling{
    border-bottom: 1px solid;
    max-width: 100%;
}

.ceil1{
    align-items: flex-start;
}

.logarray{
    display: flex;
    justify-content:center;
}
.log{
    padding: auto;
    max-width: 50px;
    min-width: 20px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    
}
.logarray > .logname{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50px;
    min-width: 20px;
    width: 100%;
}
.logarray > .logname > p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}

.col-2 > .logarray{
    height: 100%;
    align-items: center;
}

.col-2 > .logarray > div > button{
    flex-shrink: 0; /* 부모 크기에 따라 크기가 축소되지 않도록 설정 */
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

   /* 메뉴판 설정중*/
.body> .col-2 > nav{
    height: 100vh;
    border-right: 1px solid;
}

.meun{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-height: 300px;
    height: 100%;
    margin-left: 0px;
    padding-right: 0px;
}


.body> .col-2> .row > .meun> .lin{
    position: relative;
    color: white;
    overflow: visible;
    z-index: 1;
}
.body> .col-2> .row > .meun> .lin> a{
    position: relative;
    text-decoration: none;
    color: black;
}

            /* 중앙 정보 */

p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}

.cen{
    position: relative;
    display: inline-block;
    border: 1px;
    padding: 50px 0px;
}


.par{
    font-size: 40px;
    text-align: left;
    padding: 0px;

}
.a > div> nav > ol{
    margin: 0px;
}

.firstbody{
    display: flex;
}

.fbele{
    margin: 5px;
    justify-items: center;
}

.fbele > button{
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 0px;
}

.fbele > input{

    height: 100%;
    width: 100%;
}

.bu{
    display: flex;
    flex-direction: row;
}

.cent{
    padding: 2ppx;
}
table > tr{
    text-align: center;
}

table > tr> th{
    align-content: center;
    text-align: center;
}

.a{
    padding-left: 30px;
}

.firstbody{
    padding-left: 30px;
    padding-bottom: 5px;
}
.bb{
    background-color: white;
}
.bb > .col-6{
    justify-items: end;
}
.bb > .col-6 > select{
    width: 200px;
}

.fi{
    margin-bottom: 0px;
}

.logarray > div > button{
    margin: 0px;
    height: 100%;
}

/* 위에 기본 틀 */

.name{
	padding-left:0px;
}


.centerh{
	max-width: 1600px;
	min-width: 480px;
    padding: 0px;
    border: 0.1px solid;
    border-radius: 5px; 
    margin: 30px 0px;
    width: 75vw; 
    height: 28vw;
}

.col-3{
    padding: 10px 10px;
}

.col-6{
    padding: 10px 10px;
}

.wrap{
	border-radius: 5px; 
    background-color: white;
}


.userbox{
    border-bottom: 0.5px solid;
    max-height: 50px;
    height: 100%;
}

.userbox > .col-12 >p{
    font-size: 20px;
}

.wrap2{
	border-radius: 5px; 
    background-color: white;
}

.zero{
    padding-left: 0px;
}

.invisible-box {
  border: none;              /* 테두리 제거 */
  outline: none;             /* 포커스 시 생기는 외곽선 제거 */
  background-color: transparent; /* 배경을 투명하게 */
  font-size: 16px;            /* 글자 크기 설정 (원하는 대로 조정 가능) */
  color: #000;               /* 글자 색상 (예: 검정색) */
  text-align: center;
}

.wrapfin > .col-3{
	padding:20px;
}

.wrapfin > .fini{
	 display: flex;
	 align-items: center;
	 justify-content: end;
}
.wrapfin > .fini > button{
	margin: 2px;
}

h6{
	padding-left:20px;
}

.rowbotton{
	padding: 5px;
}