.payment-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.payment-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.payment-form > .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-btn {
    width: 100%;
    background-color: #9ad1ea;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #9ad1ea;
}
