<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment ="header">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="Codescandy" name="author">
  <title>Sign in eCommerce HTML Template - FreshCart</title>
  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="user/template/assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="user/template/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="user/template/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
  <link href="user/template/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" href="user/template/assets/css/theme.min.css">
</head>

<body>
  <!-- navigation -->
  <div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light" style="padding:20 0 16 0; height: 126px; border: 0px;">
      <div class="container justify-content-center justify-content-lg-between" style=" height: 90px;">
        <a class="navbar-brand" href="../sake_homepage.html">
          <img src="user/template/assets/images/logo/ST.SAKE_logo copy.svg" alt="" class="d-inline-block align-text-top">
        </a>
        <span class="navbar-text">
          Already have an account? <a href="user/template/pages/signin.html">Sign in</a>
        </span>
      </div>
    </nav>
  </div>
  
</th:block>