<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

 <th:block th:fragment ="accountUl">
 	<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="/UserOrderDetails">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										주문 내역
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/account/UserAccountSettings">
										<i class="feather-icon icon-settings me-2"></i>
										계정 설정
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/account/UserAccountPassword">
										<i class="feather-icon icon-settings me-2"></i>
										비밀번호 변경
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/account/UserAccountWithdraw">
										<i class="feather-icon icon-settings me-2"></i>
										계정 탈퇴
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/account/UserAccountAddress">
										<i class="feather-icon icon-map-pin me-2"></i>
										주소
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/account/UserAccountPayment">
										<i class="feather-icon icon-credit-card me-2"></i>
										결제방법
									</a>
								</li>
								
								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link logout" href="/user/sign/signin">
										<i class="feather-icon icon-log-out me-2"></i>
										로그아웃
									</a>
								</li>
							</ul>
 </th:block>
 
 
 