<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment = "footer">

<footer class="footer">
  <!-- <div class="container">
    <div class="row g-4 py-4">

      사케 종류
      <div class="col-12 col-md-12 col-lg-12">
        <h6 class="mb-4">사케 타입</h6>
        <div class="row">
          <div class="col-12">
            <ul class="sake-region-list">
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=11" class="sake-region-link">준마이다이긴죠슈(純米大吟醸酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=12" class="sake-region-link">준마이긴죠슈(純米吟醸酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=13" class="sake-region-link">토쿠베츠준마이슈(特別純米酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=14" class="sake-region-link">준마이슈(純米酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=15" class="sake-region-link">다이긴죠(大吟醸酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=16" class="sake-region-link">긴죠슈(吟醸酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=17" class="sake-region-link">토쿠베츠혼죠조슈(特別本醸造酒)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=18" class="sake-region-link">혼죠조슈(本醸造酒)</a></li>
            </ul>
          </div>
        </div>
      </div>

      사케 지역 및 브랜드
      <div class="col-12 col-md-12 col-lg-12">
        <div class="row g-4">

          사케 지역 (스타일 충돌 없이 새로 디자인된 부분)
          <div class="col-12">
            <h6 class="mb-4">사케 지역</h6>
            <ul class="sake-region-list">
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=3" class="sake-region-link">간토(関東)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=4" class="sake-region-link">주부(中部)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=5" class="sake-region-link">도호쿠(道北)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=6" class="sake-region-link">간사이(関西)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=7" class="sake-region-link">규슈(九州)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=8" class="sake-region-link">주고쿠(中国)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=9" class="sake-region-link">시코쿠(四国)</a></li>
              <li class="sake-region-item"><a href="/user/product/sakeMenu?seq=10" class="sake-region-link">훗카이도(北海道)</a></li>
            </ul>
          </div>

          브랜드
          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">브랜드</h6>
            <ul class="nav flex-column">
              <li class="nav-item"><a href="./pages/shop-brand.html" class="sake-region-link">브랜드</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div> -->
</footer>

<!-- 아래에 CSS 추가 -->
<style>
  .sake-region-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
    margin: 0;
  }

  .sake-region-item {
    width: 23%;
    list-style: none;
  }

  .sake-region-link {
    display: block;
    padding: 8px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
  }

  .sake-region-link:hover {
    background-color: #ddd;
  }
</style>


	<!-- Javascript-->

	<!-- Libs JS -->
	<!-- <script src="./assets/libs/jquery/dist/jquery.min.js"></script> -->
	<script src="/user/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/user/template/assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="/user/template/assets/js/theme.min.js"></script>

	<script src="/user/template/assets/js/vendors/jquery.min.js"></script>
	<script src="/user/template/assets/js/vendors/countdown.js"></script>
	<script src="/user/template/assets/libs/slick-carousel/slick/slick.min.js"></script>
	<script src="/user/template/assets/js/vendors/slick-slider.js"></script>
	<script src="/user/template/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="/user/template/assets/js/vendors/tns-slider.js"></script>
	<script src="/user/template/assets/js/vendors/zoom.js"></script>
	<script src="/user/template/assets/js/vendors/discount_page.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	
	<script type="text/javascript">
    const URL_SIGNIN_FORM_XDM = "/user/sign/signin"
	const URL_SIGNOUT_PROC_XDM = "/user/sign/SignoutUserProc"
	const URL_INDEX_VIEW_XDM = "/user/index/UserIndex"
	
		/* httpSession.getAttribute("sessSeqUsr"); */
	
		$(".logout").on("click", function(e) {
 		 e.preventDefault(); // a 태그 기본 이동 막기
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: URL_SIGNOUT_PROC_XDM
				,data: {}
				,success: function(response) {
					if(response.rt == "success") {
						location.href = URL_SIGNIN_FORM_XDM;
					} else {
						// by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		});
  </script>
	
</th:block>
</html>
