<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

 <th:block th:fragment ="header">
 
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Homepage v1 - ST.Sake</title>

	<link href="/user/template/assets/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
	<link href="/user/template/assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
	<link href="/user/template/assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet" />

	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" href="/user/template/assets/images/favicon/favicon.ico">


	<!-- Libs CSS -->
	<link href="/user/template/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
	<link href="/user/template/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
	<link href="/user/template/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
	<link href="/user/template/assets/css/modal.css" rel="stylesheet">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="/user/template/assets/css/theme.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

	<!-- 내가 추가한 CSS -->
	<link href="/user/template/assets/css/self.css"  rel="stylesheet">
	<link rel="stylesheet" href="/user/template/assets/css/cardaddress.css">
	<link rel="stylesheet" href="/user/template/assets/css/cardpay.css">
	
	 <script src="https://js.tosspayments.com/v2/standard"></script>
	<style>
	
	
	
  .nav-profile > img{
  width: 23px !important;;  /* 원하는 크기로 조정 */
  height: 23px !important;;
  object-fit: cover !important;;  /* 이미지 비율을 유지하면서 잘라내기 */
  border-radius: 100% !important;;  /* 원형 유지 */
}

  </style>

</head>

<body>
	<div class="border-bottom">
	<div th:if="${session.sessSeqUser != null}">
  <input type="hidden" id="userSeq" th:name="${session.sessSeqUser}" th:value="${session.sessSeqUser}">
  <input type="hidden" id="userName" th:name="${session.sessNameUser}">
</div>
		<div class="py-5">
			<div class="container">
				<div class="row w-100 align-items-center gx-lg-2 gx-0" style="display: flex; text-align: end; align-content: center;">
					<div class="col-xxl-2 col-lg-3 col-md-6 col-5">
						<a class="navbar-brand d-none d-lg-block" href="/user/index/UserIndex">
							<img src="/user/template/assets/images/logo/ST.SAKE_logo copy.svg" alt="eCommerce HTML Template" />
						</a>
						<div class="d-flex justify-content-between w-100 d-lg-none">
							<a class="navbar-brand" href="./index.html">
								<img src="/user/template/assets/images/logo/ST.SAKE_logo copy.svg" alt="eCommerce HTML Template" />
							</a>
						</div>
					</div>
					<div class="col-md-3 col-xxl-5 d-none d-lg-block" >
						<nav class="navbar navbar-expand-lg navbar-light navbar-default py-0"
						aria-label="Offcanvas navbar large" style="padding: 0px;">
							<div class="container" style="padding-left: 0px;">
								<div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default"
									aria-labelledby="navbar-defaultLabel">
									<div class="offcanvas-header pb-1">
										<a href="./sake_homepage.html"><img src="/user/template/assets/images/logo/freshcart-logo.svg"
												alt="eCommerce HTML Template" /></a>
										<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
									</div>
									<div class="offcanvas-body">
										<div class="d-block d-lg-none mb-4">
											<form action="#">
												<div class="input-group">
													<input class="form-control rounded" type="search"
														placeholder="Search for products" />
													<span class="input-group-append">
														<button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
															type="button">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
																viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round"
																class="feather feather-search">
																<circle cx="11" cy="11" r="8"></circle>
																<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
															</svg>
														</button>
													</span>
												</div>
											</form>
										</div>
										<div>
											<ul class="navbar-nav align-items-center">
												<!-- <li class="nav-item dropdown w-100 w-lg-auto ">
													<a class="nav-link dropdown-toggle donts" href="./sake_homepage.html"
														aria-expanded="false">홈페이지</a>
												</li> -->
												<!-- <li class="nav-item dropdown w-100 w-lg-auto">
													<a class="nav-link dropdown-toggle donts" href="./pages/store-japan_map.html" 
														aria-expanded="false">지도</a>
														<ul class="dropdown-menu">
														<li><a class="dropdown-item" href="./pages/store-grid.html">지도</a></li>
													</ul>
												</li> -->
												<li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
													<a class="nav-link dropdown-toggle donts" href="#" role="button" data-bs-toggle="dropdown"
														aria-expanded="false"> 사케 타입</a>
													<ul class="dropdown-menu">
														<div class = "row p-2 p-lg-4">
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<h6 class="text-primary ps-3 ">준마이(純米酒)</h6>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=11">준마이다이긴죠슈(純米大吟醸酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=12">준마이긴죠슈(純米吟醸酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=13">토쿠베츠준마이슈(特別純米酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=14">준마이슈(純米酒)</a>
															</div>
															
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<h6 class="text-primary ps-3">혼죠조(本醸造)</h6>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=15">다이긴죠(大吟醸酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=16">긴죠슈(吟醸酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=17">토쿠베츠혼죠조슈(特別本醸造酒)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=18">혼죠조슈(本醸造酒)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<h6 class="text-primary ps-3 " >기타</h6>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=19">일본주 기타</a>
															</div>
														</div>
													</ul>
												</li>
												<li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
													<a class="nav-link dropdown-toggle donts" href="#" role="button" data-bs-toggle="dropdown"
														aria-expanded="false">사케 지역</a>
													<div class="dropdown-menu pb-0">
														<div class="row p-2 p-lg-4">
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a href="/user/product/sakeMenu?seq=3" class="text-primary ps-3 h6 d-block mb-2">간토(関東)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=80">이바라키현(茨城県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=81">도치기현(栃木県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=82">군마현(群馬県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=83">사이타마현(埼玉県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=84">치바현(千葉県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=85">가나가와현(神奈川県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=86">도쿄도(東京都)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a href="/user/product/sakeMenu?seq=4" class="text-primary ps-3 h6 d-block mb-2">주부(中部)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=87">니가타현(新潟県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=88">도야마현(富山県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=89">이시카와현(石川県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=90">후쿠이현(福井県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=91">야마나시현(山梨県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=92">나가노현(長野県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=93">기후현(岐阜県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=94">시즈오카현(静岡県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=95">아이치현(愛知県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a href="/user/product/sakeMenu?seq=5" class="text-primary ps-3 h6 d-block mb-2">도호쿠(道北)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=96">아오모리현(青森県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=97">이와테현(岩手県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenuseq=98">미야기현(宮城県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=99">아키타현(秋田県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=100">야마가타현(山形県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=101">후쿠시마현(福島県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a href="/user/product/sakeMenu?seq=6" class="text-primary ps-3 h6 d-block mb-2">간사이(関西)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=102">미에현(三重県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=103">시가현(滋賀県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=104">교토부(京都府)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=105">오사카부(大阪府)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=106">효고현(兵庫県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=107">나라현(奈良県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=108">와카야마현(和歌山県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0 jump">
															<a href="/user/product/sakeMenu?seq=7" class="text-primary ps-3 h6 d-block mb-2">규슈(九州)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=109">후쿠오카현(福岡県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=110">사가현(佐賀県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=111">나가시카현(長崎県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=112">구마모토현(熊本県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=113">오이타현(大分県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=114">미야자키현(宮崎県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=115">가고시마현(鹿児島県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=116">오키나마현(沖縄県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0 jump">
																<a href="/user/product/sakeMenu?seq=8" class="text-primary ps-3 h6 d-block mb-2">주고쿠(中国)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=117">돗토리현(鳥取県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=118">시마네현(島根県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=119">오카야마현(岡山県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=120">히로시마현(広島県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=121">야마구치현(山口県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0 jump">
																<a href="/user/product/sakeMenu?seq=9" class="text-primary ps-3 h6 d-block mb-2">시코쿠(四国)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=122">도쿠시마현(徳島県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=123">고치현(高知県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=124">에히메현(愛媛県)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=125">가가와현(香川県)</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0 jump">
																<a href="/user/product/sakeMenu?seq=10" class="text-primary ps-3 h6 d-block mb-2">훗카이도(北海道)</a>
																<a class="dropdown-item" href="/user/product/sakeMenu?seq=126">훗카이도(北海道)</a>
															</div>
														</div>
													</div>
												</li>
												
												<li class="nav-item dropdown w-100 w-lg-auto">
													<a class="nav-link dropdown-toggle donts" href="#" 
														aria-expanded="false">브랜드(개발중)</a>
														<!-- <ul class="dropdown-menu">
														<li><a class="dropdown-item" href="./pages/store-grid.html">지도</a></li>
													</ul> -->
												</li>
											
												<li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
													<a class="nav-link dropdown-toggle donts" href="#" role="button" data-bs-toggle="dropdown"
														aria-expanded="false"> 할인(개발중) </a>
													<div class="dropdown-menu">
														<div class="row p-2 p-lg-4">
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a class="dropdown-item" href="./pages/shop-sale-sake.html">할인 사케</a>
																<a class="dropdown-item" href="./pages/shop-sale-brand.html">할인 사케 브랜드</a>
															</div>
														</div>
													</div>
												</li>
												<li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
													<a class="nav-link dropdown-toggle donts" href="#" role="button" data-bs-toggle="dropdown"
														aria-expanded="false">계정</a>
													<div class="dropdown-menu p-lg-4">
														<div class="row p-2 p-lg-4">
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a class="dropdown-item" href="/user/sign/signin">로그인</a>				
																<a class="dropdown-item" href="/user/sign/signup">회원가입</a>
																<a class="dropdown-item" href="/user/account/ChangeUserPassword">비밀번호 재설정</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a class="dropdown-item"
																		href="/user/order/UserOrderDetails">주문 내역</a>
																<a class="dropdown-item"
																		href="/user/account/UserAccountSettings">계정 설정</a>
																<a class="dropdown-item"
																		href="/user/account/UserAccountPassword">비밀번호 변경</a>
																<a class="dropdown-item"
																		href="/user/account/UserAccountWithdraw">계정 탈퇴</a>
															</div>
															<div class="col-lg-3 col-12 mb-4 mb-lg-0">
																<a class="dropdown-item"
																		href="/user/account/UserAccountAddress">주소</a>
																
																<a class="dropdown-item"
																		href="/user/account/UserAccountPayment">결제방법</a>
																
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</nav>
					</div>
					<div class="col-xxl-3 col-lg-2 d-none d-lg-block">
						<!-- <form action="#">
							<div class="input-group">
								<input class="form-control rounded" type="search" placeholder="Search for products" />
								<span class="input-group-append">
									<button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
										type="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-search">
											<circle cx="11" cy="11" r="8"></circle>
											<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
										</svg>
									</button>
								</span>
							</div>
						</form> -->
					</div>
					<div class="col-lg-2 col-xxl-2 text-end col-md-6 col-7">
						<div class="list-inline" style="display: flex; justify-content: center;">
							<div class="list-inline-item me-5">
								<a href="/user/order/UserOrderDetails" class="text-muted position-relative">
  									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
    									<circle cx="9" cy="21" r="1"></circle>
    									<circle cx="20" cy="21" r="1"></circle>
    									<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
  									</svg>
  									<span class="position-absolute top-0 start-40 translate-middle badge rounded-pill bg-success"  th:text="${orderItemCount}">
    								5
    								<span class="visually-hidden">new orders</span>
  									</span>
								</a>
							</div>
							<div th:if="${session.sessSeqUser eq null}" class="list-inline-item me-5">
								<a href="/user/sign/signin" class="text-muted">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="feather feather-user">
										<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
										<circle cx="12" cy="7" r="4"></circle>
									</svg>
								</a>
							</div>
							<div th:if="${session.sessSeqUser ne null}" class="list-inline-item me-5">		
			
          							<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown" >
            							<img src="/xdm/template/NiceAdmin/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            							<span class="d-none d-md-block dropdown-toggle ps-2">[[${session.sessNameUser}]]</span>
         							</a>
         							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
           								<li class="dropdown-header">
              								<h6 class="mt-2 text-black">[[${session.sessNameUser}]]</h6>
              								<span>Web Designer</span>
            							</li>
           	 							<li>
              								<hr class="dropdown-divider">
           								</li>
            							
            							<li>
             								<hr class="dropdown-divider">
            								</li>
            							<li>
             							<div class="dropdown-item d-flex align-items-center" href="#">
                							<i class="bi bi-box-arrow-right"></i>
               								<a href="javascript:void(0);" id="btnSignout" class="logout btn btn-phoenix-secondary d-flex"> <span class="me-2" data-feather="log-out">로그아웃</span></a>
              							</div>
            							</li>
         					 		</ul><!-- End Profile Dropdown Items -->
							</div>
							<div class="list-inline-item me-5 me-lg-0">
								<a class="text-muted position-relative" 
									 href="/user/cart/ShoppingCart" role="button">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="feather feather-shopping-bag">
										<path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
										<line x1="3" y1="6" x2="21" y2="6"></line>
										<path d="M16 10a4 4 0 0 1-8 0"></path>
									</svg>
									<span
										class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" th:text="${cartItemCount}">
										1
										<span class="visually-hidden">unread messages</span>
									</span>
								</a>
							</div>
							<div class="list-inline-item d-inline-block d-lg-none">
								<!-- Button -->
								<button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
									data-bs-target="#navbar-default" aria-controls="navbar-default"
									aria-label="Toggle navigation">
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
										class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
										<path
											d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
