<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

	<div th:replace = "~{user/include/header :: header}"></div>


   <main>
      <!-- section-->
      <div class="mt-4">
         <div class="container">
            <!-- row -->
            <div class="row">
               <!-- col -->
               <div class="col-12">
                  <!-- breadcrumb -->
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="../sake_homepage.html">홈페이지</a></li>
                        <li class="breadcrumb-item"><a href="../pages/shop-area.html">지역</a></li>
                        <li class="breadcrumb-item active" aria-current="page">상세지역</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </div>
      <!-- section -->
      <div class="mt-8 mb-lg-14 mb-8">
         <!-- container -->
         <div class="container">
            <!-- row -->
            <div class="row gx-10">
               <!-- col -->
               <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
                  <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory"
                     aria-labelledby="offcanvasCategoryLabel">
                     <div class="offcanvas-header d-lg-none">
                        <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                     </div>
                     <div class="offcanvas-body ps-lg-2 pt-lg-0">
                        <div class="mb-8">
                           <h5 class="mb-3">사케</h5>
                           <div class="my-4 input-group">
                              <!-- input -->
                              <input type="search" class="form-control" placeholder="이름 및 브랜드" />
                              <span class="input-group-append">
											<button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
												type="button">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
													stroke-linecap="round" stroke-linejoin="round"
													class="feather feather-search">
													<circle cx="11" cy="11" r="8"></circle>
													<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
												</svg>
											</button>
										</span>
                           </div>
                           <div class="mb-8">
                              <h5 class="mb-3">사케 명칭</h5>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="eGrocery" checked />
                                 <label class="form-check-label" for="eGrocery">준마이다이긴죠슈(純米大吟醸酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="DealShare" />
                                 <label class="form-check-label" for="DealShare">다이긴죠슈(大吟醸酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Dmart" />
                                 <label class="form-check-label" for="Dmart">준마이긴죠슈(純米吟醸酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Blinkit" />
                                 <label class="form-check-label" for="Blinkit">긴죠슈(吟醸酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="BigBasket" />
                                 <label class="form-check-label" for="BigBasket">준마이슈(純米酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="StoreFront" />
                                 <label class="form-check-label" for="StoreFront">토쿠베츠준마이슈(特別純米酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="Spencers" />
                                 <label class="form-check-label" for="Spencers">토쿠베츠혼죠조슈(特別本醸造酒)</label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="onlineGrocery" />
                                 <label class="form-check-label" for="onlineGrocery">혼죠조슈(本醸造酒)</label>
                              </div>
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="onlineGrocery" />
                                 <label class="form-check-label" for="onlineGrocery">기타</label>
                              </div>
                           </div>
                        </div>
                        <div>
                           <h5 class="mb-3">일본 지역</h5>
                           <!-- nav -->
                           <ul class="nav nav-category" id="categoryCollapseMenu">
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#categoryFlushOne" aria-expanded="false"
                                    aria-controls="categoryFlushOne">
                                    간토(関東)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- accordion collapse -->
                                 <div id="categoryFlushOne" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <!-- nav -->
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">이바라키현(茨城県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">도치기현(栃木県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">군마현(群馬県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">사이타마현(埼玉県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">치바현(千葉県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">가나가와현(神奈川県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">도쿄도(東京都)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <!-- nav item -->
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    주부(中部)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">니가타현(新潟県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">도야마현(富山県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">이시카와현(石川県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">야마나시현(山梨県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">나가노현(長野県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">기후현(岐阜県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">시즈오카현(静岡県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a href="#!" class="nav-link">아이치현(愛知県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    도호쿠(道北)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">아오모리현(青森県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">이와테현(岩手県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">미야기현(宮城県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">아키타현(秋田県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">야마가타현(山形県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">후쿠시마현(福島県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    간사이((関西))
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">미에현(三重県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">시가현(滋賀県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">교토부(京都府)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">오사카부(大阪府)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">효고현(兵庫県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">나라현(奈良県)</a</li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">와카야마현(和歌山県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    규슈(九州)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">후쿠오카현(福岡県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">사가현(佐賀県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">나가시카현(長崎県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">구마모토현(熊本県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">오이타현(大分県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">가고시마현(鹿児島県)</a</li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">오키나마현(沖縄県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    주고쿠(中国)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">돗토리현(鳥取県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">시마네현(島根県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">오카야마현(岡山県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">히로시마현(広島県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">야마구치현(山口県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>

                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                    시코쿠(四国)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">도쿠시마현(徳島県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">고치현(高知県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">에히메현(愛媛県)</a></li>
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">가가와현(香川県)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>

                              <li class="nav-item border-bottom w-100">
                                 <a href="#" class="nav-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEight" aria-expanded="false"
                                    aria-controls="flush-collapseEight">
                                    훗카이도(北海道)
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                                 <!-- collapse -->
                                 <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                       <ul class="nav flex-column ms-3">
                                          <!-- nav item -->
                                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">훗카이도(北海道)</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>   

                        <div class="mb-8">
                           <!-- price -->
                           <h5 class="mb-3">가격</h5>
                           <div>
                              <!-- range -->
                              <div id="priceRange" class="mb-3"></div>
                              <small class="text-muted">Price:</small>
                              <span id="priceRange-value" class="small"></span>
                           </div>
                        </div>
                        <!-- rating -->
                        <div class="mb-8">
                           <h5 class="mb-3">별점</h5>
                           <div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="ratingFive" />
                                 <label class="form-check-label" for="ratingFive">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                 </label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="ratingFour" checked />
                                 <label class="form-check-label" for="ratingFour">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                 </label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="ratingThree" />
                                 <label class="form-check-label" for="ratingThree">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                 </label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="ratingTwo" />
                                 <label class="form-check-label" for="ratingTwo">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                 </label>
                              </div>
                              <!-- form check -->
                              <div class="form-check mb-2">
                                 <!-- input -->
                                 <input class="form-check-input" type="checkbox" value="" id="ratingOne" />
                                 <label class="form-check-label" for="ratingOne">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                 </label>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </aside>
               <section class="col-lg-9 col-md-12">
                  <!-- card -->
                  <div class="card mb-4 bg-light border-0">
                     <!-- card body -->
                     <div class="card-body p-9">
                        <h2 class="mb-0 fs-1">지역/ 상세지역</h2>
                     </div>
                  </div>
                  <!-- list icon -->
                  <div class="d-lg-flex justify-content-between align-items-center">
                     

                     <!-- icon -->
                     <div class="d-md-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                           <div class="ms-2 d-lg-none">
                              <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas"
                                 href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-filter me-2">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                 </svg>
                                 Filters
                              </a>
                           </div>
                        </div>

                        <div class="d-flex mt-2 mt-lg-0">
                           <div class="me-2 flex-grow-1">
                              <!-- select option -->
                              <select class="form-select">
                                 <option selected>Show: 50</option>
                                 <option value="10">10</option>
                                 <option value="20">20</option>
                                 <option value="30">30</option>
                              </select>
                           </div>
                           <div>
                              <!-- select option -->
                              <select class="form-select">
                                 <option selected>Sort by: Featured</option>
                                 <option value="Low to High">Price: Low to High</option>
                                 <option value="High to Low">Price: High to Low</option>
                                 <option value="Release Date">Release Date</option>
                                 <option value="Avg. Rating">Avg. Rating</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- row -->
                  <div class="row g-4 row-cols-xl-3 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
                     <!-- col -->
                     <div class="col">
                        <!-- card -->
                        <div class="card card-product">
                           <div class="card-body">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                 <div class="position-absolute top-0 start-0">
                                    <!-- <span class="badge bg-danger">Sale</span> -->
                                 </div>
                                 <a href="shop-single.html">
                                    <!-- img -->
                                    <img src="../assets/images/sake/chugoku_2/yamaguchi/dassi/dassai.jpg"
                                       alt="Grocery Ecommerce Template" class="mb-3 img-fluid item-img" />
                                 </a>
                                 <!-- action btn -->
              
                              </div>
                              <!-- heading -->
                              <div class="text-small mb-1">
                                 <a href="#!" class="text-decoration-none text-muted"><small>준마이다이긴죠슈</small></a>
                              </div>
                              <div class="text-small mb-1">
                                 <a href="#!" class="text-decoration-none text-muted"><small>지역</small></a>
                                 <a href="#!" class="text-decoration-none text-muted"><small>상세지역</small></a>
                                 <a href="#!" class="text-decoration-none text-muted"><small>브랜드</small></a>
                              </div>
                              <h2 class="fs-6"><a href="shop-single.html"
                                    class="text-inherit text-decoration-none">닷사이23</a></h2>
                              <div>
                                 <!-- rating -->
                                 <small class="text-warning">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                 </small>
                                 <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                 <div>
                                    <span class="text-dark">$18</span>
                                    <span class="text-decoration-line-through text-muted">$24</span>
                                 </div>
                                 <!-- btn -->
                                 <div>
                                    <a href="#!" class="btn btn-primary btn-sm">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                          <line x1="12" y1="5" x2="12" y2="19"></line>
                                          <line x1="5" y1="12" x2="19" y2="12"></line>
                                       </svg>
                                       Add
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col -->
                    
                     <!-- col -->
                     <div class="col">
                        <!-- card -->
                        <div class="card card-product">
                           <div class="card-body">
                              <div class="text-center position-relative">
                                 <a href="shop-single.html"><img src="../assets/images/products/product-img-8.jpg"
                                       alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                 <!-- action btn -->
                                 <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                       data-bs-target="#quickViewModal">
                                       <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                          title="Quick View"></i>
                                    </a>
                                    <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip"
                                       data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                       title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                 </div>
                              </div>
                              <!-- heading -->
                              <div class="text-small mb-1">
                                 <a href="#!" class="text-decoration-none text-muted"><small>Instant Food</small></a>
                              </div>
                              <h2 class="fs-6"><a href="shop-single.html"
                                    class="text-inherit text-decoration-none">Kellogg's Original Cereals</a></h2>
                              <div class="text-warning">
                                 <!-- rating -->
                                 <small>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                 </small>
                                 <span class="text-muted small">4 (90)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                 <div>
                                    <span class="text-dark">$32</span>
                                    <span class="text-decoration-line-through text-muted">$35</span>
                                 </div>
                                 <!-- btn -->
                                 <div>
                                    <a href="#!" class="btn btn-primary btn-sm">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                          <line x1="12" y1="5" x2="12" y2="19"></line>
                                          <line x1="5" y1="12" x2="19" y2="12"></line>
                                       </svg>
                                       Add
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col -->
                     <div class="col">
                        <!-- card -->
                        <div class="card card-product">
                           <div class="card-body">
                              <div class="text-center position-relative">
                                 <a href="shop-single.html"><img src="../assets/images/products/product-img-9.jpg"
                                       alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                 <!-- action btn -->
                                 <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                       data-bs-target="#quickViewModal">
                                       <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                          title="Quick View"></i>
                                    </a>
                                    <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip"
                                       data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                       title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                 </div>
                              </div>
                              <!-- heading -->
                              <div class="text-small mb-1">
                                 <a href="#!" class="text-decoration-none text-muted"><small>Snack &
                                       Munchies</small></a>
                              </div>
                              <h2 class="fs-6"><a href="shop-single.html"
                                    class="text-inherit text-decoration-none">Slurrp Millet Chocolate</a></h2>
                              <div class="text-warning">
                                 <!-- rating -->
                                 <small>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                 </small>
                                 <span class="text-muted small">4.5 (67)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                 <div>
                                    <span class="text-dark">$3</span>
                                    <span class="text-decoration-line-through text-muted">$5</span>
                                 </div>
                                 <!-- btn -->
                                 <div>
                                    <a href="#!" class="btn btn-primary btn-sm">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                          <line x1="12" y1="5" x2="12" y2="19"></line>
                                          <line x1="5" y1="12" x2="19" y2="12"></line>
                                       </svg>
                                       Add
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col -->
                     
                  <!-- row -->
                  <div class="row mt-8">
                     <div class="col">
                        <!-- nav -->
                        <nav>
                           <ul class="pagination">
                              <li class="page-item disabled">
                                 <a class="page-link mx-1" href="#" aria-label="Previous">
                                    <i class="feather-icon icon-chevron-left"></i>
                                 </a>
                              </li>
                              <li class="page-item"><a class="page-link mx-1 active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link mx-1" href="#">2</a></li>

                              <li class="page-item"><a class="page-link mx-1" href="#">...</a></li>
                              <li class="page-item"><a class="page-link mx-1" href="#">12</a></li>
                              <li class="page-item">
                                 <a class="page-link mx-1" href="#" aria-label="Next">
                                    <i class="feather-icon icon-chevron-right"></i>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </main>

   <!-- modal -->
   <!-- Modal -->
   


   <!-- Footer -->
   <!-- footer -->
   <div th:replace = "~{user/include/footer :: footer}"></div>
</body>

</html>