 <!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
 	
 <div th:replace = "~{xdm/include/background :: head}"></div>

  <main id="main" class="main" style=" padding: 0px;">
          <div class = "col cen">  <!-- 중앙 부분  기본정보-->
            <div class = "a">
              <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Page1</a></li>
                      <li class="breadcrumb-item"><a href="#">Page2</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol>
                </nav>
                <label for="exampleFormControlInput1" class="form-label par"><strong>Code Group</strong></label> 
              </div>
            </div>
            <div class = "row-1 firstbody">
                <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                    <option selected>N</option>
                    <option value="2">N</option>
                  </select></div>
                <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                    <option selected>Y</option>
                    <option value="1">Y</option>
                  </select></div>
                <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                    <option selected>날짜</option>
                    <option value="1">날짜</option>
                  </select></div>
                <div class = "col-2 fbele"><input type="date" class="form-control"></div>
                <div class = "col-2 fbele"><input type="date" class="form-control"></div>
            </div>
            <div class = "row-1 firstbody">
                <div class = "col-2  fbele "><select class="form-select" aria-label="Default select example">
                    <option selected>검색구분</option>
                      <option value="1">검색구분</option>
                      <option value="2">코드그룹 코드</option>
                      <option value="3">코드그룹 이름</option>
                      <option value="4">코드</option>
                      <option value="4">대체코드</option>
                      <option value="4">코드그룹 이름</option>
                      <option value="4">코드그룹 이름(영문)</option>
                  </select></div>
                <div class = "col-2 fbele"><input type="text" class="form-control" placeholder="검색어"></div>
                <div class = "col-2 fbele bu"><button type="button" class="btn btn-outline-dark" title="Search"><i class="bi bi-search"></i></button>
                  <button type="button" class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                </div>
            </div>
            <div class=" row bb ">
              <div class = "row cent justify-content-center;">
                <div class ="col-3"><h6>Total:50</h6></div>
                <div class ="col-3"></div>
                <div class ="col-3"></div>
                <div class ="datatable-dropdown col-3" style="display: flex; justify-content: end;">
                  <label>
                    <select class ="datatable-selector" name="per-page">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="-1">All</option>
                    </select> 
                  </label>
                </div>
                <table class="table datatable" style=" text-align: center">   
                  <thead>              
                    <tr>
                      <th style="text-align: center;"><input class="form-check-input" type="checkbox" name ="check" id="flexCheckDefault"></th>
                      <th style="text-align: center;">#</th>
                      <th style="text-align: center;">사용</th>
                      <th style="text-align: center;">코드그룹 코드</th>
                      <th style="text-align: center;">코드그룹 이름</th>
                      <th style="text-align: center;">코드</th>
                      <th style="text-align: center;">대체코드</th>
                      <th style="text-align: center;">코드이름</th>
                      <th style="text-align: center;">코드이름(영문)</th>
                      <th style="text-align: center;">순서</th>
                      <th style="text-align: center;">등록일</th>
                      <th style="text-align: center;">수정일</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr class="invisible-box">
                  	  <td><input class="form-check-input" type="checkbox" name ="checkbox" id="flexCheckDefault"></td>
                      <td th:text="${item?.cg_id}"></td>
                      <td th:text="${item?.cg_use}"></td>
                      <td th:text="${item?.cg_code}"></td>
                      <td th:text="${item?.cg_name}"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td th:text= "${item?.cg_order}"></td>
                      <td></td>
                      <td></td>
                    </tr>
                   </tbody>
                </table> 
              </div>
              
              <div class ="row wrapfin">
                <div class = "col-3">
                  <a href = "codeGroupDelete" id ="delete"><button type="button" class="btn btn-danger">x</button></a>
                  <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
                <div class= "col-6"></div>
                <div class = "col-3 fini" style="display: flex; justify-content: end;">
                  <a th:href = "@{/codeGroupMform(cg_id=${item.cg_id})}"><button type="button" class="btn btn-link" style="text-decoration: none; border: 1px solid;">U</button></a>
                  <button type="button" class="btn btn-success"><i class="bi bi-file-earmark-excel-fill"></i></button>
                  <a href = "codeGroupForm"><input class="btn btn-primary" type="button" value="+"></a>
                </div>
              </div>
            </div>  
          </div> <!-- 중앙 부분  기본정보-->  

  </main><!-- End #main -->


  <div th:replace = "~{xdm/include/footer :: footer}"></div>  
  
</html>

 