<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">


 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<div th:replace = "~{xdm/include/form_head :: head}"></div>

  <main id="main" class="main">
  <div>
    <div class = "col cen">  <!-- 중앙 부분  기본정보-->
      <div class = "row a name">
        <div>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Page1</a></li>
                <li class="breadcrumb-item"><a href="#">Page2</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
              </ol>
          </nav>
          <label for="exampleFormControlInput1" class="form-label par"><strong>Code Grope</strong></label> 
        </div>
      </div> <!-- 공통복사 부분 end-->

      <div class = "row a centerh">
        <div class = "wrap">
          <div class = "row userbox">
            <div class = "col-12">
              <p>기본정보</p>
            </div>
          </div>
        </div>
        <div class = "wrap2">
          <form action="codeGroupInst" method="post" id="form" class="row needs-validation" novalidate>  
            <div class = "row">
              <div class="col-3"><label for="exampleFormControlInput1" class="form-label">코드그룹 코드</label> 
                <input type="text" class="form-control" name="cg_id" id="cg_id" placeholder="자동생성" aria-label="Disabled input example" disabled></div>
              <div class="col-3"><label for="exampleFormControlInput2" class="form-label" >코드그룹 코드&nbsp;(ANOTHER)</label> 
                <input type="text" class="form-control" id="exampleFormControlInput2">
               </div>
              <div class="col-3"><label for="exampleFormControlInput3" class="form-label">코드그룹&nbsp;이름</label><span style="color: crimson;">*</span> 
                <input type="text" class="form-control" id="cg_name" placeholder="한글, 영어대소문자, 숫자" name="cg_name" required>
                <div class="invalid-feedback" id="cg_nameError"></div></div>
              <div class="col-3"><label for="exampleFormControlInput4" class="form-label">갯수</label> 
                <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="자동생성" disabled>
              </div>
            </div>
          
          
            <div class = "row">
              <div class = "col-3"><label for="exampleFormControlInput5" class="form-label" >사용여부</label><span style="color: crimson;">*</span>
                <select class="form-select" aria-label="Default select example" id="cg_use" name="cg_use" required>
                  <option selected value="">선택하세요</option>
                   <option value="true">사용</option>
                   <option value="false">미사용</option>
                </select><div class="invalid-feedback" id="cg_useError">
                   선택을해주세요.
                  </div></div>
              <div class = "col-3"><label for="cg_orde" class="form-label" >순서</label><span style="color: crimson;">*</span> 
                <input type="text" class="form-control" id="cg_order" name="cg_order" required>
                <div class="invalid-feedback" id="cg_orderError">
                  Please select a valid state.
                </div></div>
            </div>
            <div class = "row">
              <div class = "col-6 ">
                <label for="exampleFormControlTextarea1" class="form-label zero"> 설명 </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
               </div>
            </div>
            <div class = "row rowbotton">
              <div class="col-1">
                <div class ="justify-content-start" style="display: flex;">
                  <button type="button" class="btn btn-outline-dark" style=" border: 0.1px solid;"><i class="bi bi-list-task"></i></button>
                </div>
              </div>
              <div class ="col-10"></div>
              <div class="col-1 ">
                <div class ="justify-content-end" style="display: flex;">
                  <button class="btn btn-primary" type="button" id="cg_submit"><i class="bi bi-server"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div> 
    </div>
  </div>	


  </main><!-- End #main -->
  
  
 

 <div th:replace = "~{xdm/include/footer::footer}"></div>
 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
  <script type="text/javascript">
	  
  	document.getElementById("cg_submit").addEventListener("click",function(event){
		event.preventDefault();

		document.getElementById("cg_name").classList.remove("is-invalid");
		document.getElementById("cg_name").classList.remove("is-valid");
	    document.getElementById("cg_use").classList.remove("is-invalid");
	    document.getElementById("cg_use").classList.remove("is-valid");
	    document.getElementById("cg_order").classList.remove("is-invalid")
	    document.getElementById("cg_order").classList.remove("is-valid")
		
  		document.getElementById("cg_nameError").textContent = '';
    	document.getElementById("cg_useError").textContent = '';
   		document.getElementById("cg_orderError").textContent = '';
        	      
  		let isValid = true; 
  	    
  	    
  		const name = document.getElementById("cg_name").value;
  		if(name == null || name == "" || name.trim() != name){
  			document.getElementById("cg_nameError").textContent = "코드그룹 이름에 대한 값을 입력해주세요";
  			document.getElementById("cg_name").classList.add("is-invalid");
  			isValid = false;
  		}else{
  			document.getElementById("cg_name").classList.add("is-valid");
  		}
  		
  		const use = document.getElementById("cg_use").value;  
  		if(use == null || use == ""){
  			document.getElementById("cg_useError").textContent = "사용여부에 대한 값을 입력해주세요";
  			document.getElementById("cg_use").classList.add("is-invalid");
  			isValid = false;
  		}else{
  			document.getElementById("cg_use").classList.add("is-valid");
  		}
  		
   	    const order = document.getElementById("cg_order").value;
   	 	let regex = /^[0-9]+$/;
   		 if(order == null || order == ""){
			document.getElementById("cg_orderError").textContent = "순서에 대한 값을 입력해주세요";
			document.getElementById("cg_order").classList.add("is-invalid");
			isValid = false;
		}else if(!regex.test(order)){
			document.getElementById("cg_orderError").textContent = "숫자를 입력해주세요";
			document.getElementById("cg_order").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("cg_order").classList.add("is-valid");
		}
   		 
  		if(isValid){
  			console.log("폼 제출"); 
  			document.getElementById("form").submit();
  		}else {
            console.log("유효성 검사 실패: 폼 제출 안 함");
        }
  	});
  
    </script>
   </body>
</html> 
  	
  
  
  

