<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/common.css">
</head>
<body>
    <form>
      <div class="container-fluid a">
            <div class = "row ceiling"> <!-- 천장 부분 -->
                <div class = "col-2 ceil1"> 
                    <div class = "logarray">
                        <div>
                            <img src="../test/CSS/img/information.jpg" class ="log">
                        </div>
                        <div class = "logname">
                          <label for="exampleFormControlInput1" class="form-label">Ruppy</label> 
                        </div>
                    </div>         
                </div>
                <div class = "col-8">
                </div>
                <div class = "col-2 "> 
                    <div class = "logarray">
                        <div>
                          <button type="button" class="btn btn-primary"></button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-primary"></button>
                        </div>
                        <div>
                          <button type="button" class="btn btn-primary"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "row body">    <!-- 중앙 부분-->
                <div class = "col-2">  <!-- 중앙 부분 메뉴부분-->
                    <nav class = "row l">
                        <ul class = "meun">
                            <div class="accordion accordion-flush lin" id="accordionFlushExample">
                                <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      공지사항
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      회원관리
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      서비스관리
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                        커뮤니케이션
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                  </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                        시스템관리
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body"> <a href="">코드관리</a><br><a href="">코드그룹관리</a></div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                                        개인정보관리
                                      </button>
                                    </h2>
                                    <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseweven" aria-expanded="false" aria-controls="flush-collapseseven">
                                        test
                                      </button>
                                    </h2>
                                    <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                  </div>
                              </div>
                        </ul>
                    </nav>
                </div>                  <!-- 중앙 부분 메뉴부분 end -->

                <div class = "col-10 cen">  <!-- 중앙 부분  기본정보-->
                  <div class = "row a">
                    <div>
                      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Page1</a></li>
                            <li class="breadcrumb-item"><a href="#">Page2</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                          </ol>
                      </nav>
                      <label for="exampleFormControlInput1" class="form-label par"><strong>Code</strong></label> 
                    </div>
                  </div>
                  <div class = "row-1 firstbody">
                      <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                          <option selected>N</option>
                          <option value="2">N</option>
                        </select></div>
                      <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                          <option selected>Y</option>
                          <option value="1">Y</option>
                        </select></div>
                      <div class = "col-2 fbele"><select class="form-select" aria-label="Default select example">
                          <option selected>날짜</option>
                          <option value="1">날짜</option>
                        </select></div>
                      <div class = "col-2 fbele"><input type="date"></div>
                      <div class = "col-2 fbele"><input type="date"></div>
                  </div>
                  <div class = "row-1 firstbody">
                      <div class = "col-2  fbele "><select class="form-select" aria-label="Default select example">
                          <option selected>검색구분</option>
                            <option value="1">검색구분</option>
                            <option value="2">코드그룹 코드</option>
                            <option value="3">코드그룹 이름</option>
                            <option value="4">코드</option>
                            <option value="4">대체코드</option>
                            <option value="4">코드그룹 이름</option>
                            <option value="4">코드그룹 이름(영문)</option>
                        </select></div>
                      <div class = "col-2 fbele"><input type="text" placeholder="검색어"></div>
                      <div class = "col-2 fbele bu"><button class="btn btn-primary" type="submit"></button><button class="btn btn-primary" type="submit"></button></div>
                  </div>
                  <div class="row bb">
                    <div class ="col-3"><h5>Total:160</h4></div>
                    <div class ="col-3"></div>
                    <div class ="col-6">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>5</option>
                        <option value="1">1</option>
                        <option value="2">3</option>
                        <option value="3">5</option>
                      </select>
                    </div>
                    <div class = "row cent justify-content-center">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                            <th width="1%">#</th>
                            <th width="5%">사용</th>
                            <th width="14%">코드그룹 코드</th>
                            <th width="20%">코드그룹 이름</th>
                            <th width="5%">코드</th>
                            <th width="8%">대체코드</th>
                            <th width="8%">코드이름</th>
                            <th width="14%">코드이름(영문)</th>
                            <th width="5%">순서</th>
                            <th width="6%">등록일</th>
                            <th width="6%">수정일</th>
                          </tr>
                          <tr>
                            <td width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                            <td width="1%">160</td>
                            <td width="5%">Y</td>
                            <td width="14%">42</td>
                            <td width="20%">작품기타사이트유형</td>
                            <td width="5%">381</td>
                            <td width="8%"></td>
                            <td width="10%"><a href="">공식홈페이지</a></td>
                            <td width="14%"></td>
                            <td width="5%">1</td>
                            <td width="1%"></td>
                            <td width="1%"></td>
                          </tr>
                          <tr>
                            <td width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                            <td width="1%">159</td>
                            <td width="5%">Y</td>
                            <td width="14%">42</td>
                            <td width="20%">작품기타사이트유형</td>
                            <td width="5%">382</td>
                            <td width="8%"></td>
                            <td width="10%"><a href="">기타사이트</a></td>
                            <td width="14%"></td>
                            <td width="5%">2</td>
                            <td width="1%"></td>
                            <td width="1%"></td>
                          </tr>
                          <tr>
                            <td width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                            <td width="1%">158</td>
                            <td width="5%">Y</td>
                            <td width="14%">41</td>
                            <td width="20%">작품연재사이트</td>
                            <td width="5%">372</td>
                            <td width="8%"></td>
                            <td width="10%"><a href="">네이버웹툰</a></td>
                            <td width="14%"></td>
                            <td width="5%">1</td>
                            <td width="1%"></td>
                            <td width="1%"></td>
                          </tr>
                          <tr>
                            <td width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                            <td width="1%">157</td>
                            <td width="5%">Y</td>
                            <td width="14%">41</td>
                            <td width="20%">작품연재사이트</td>
                            <td width="5%">383</td>
                            <td width="8%"></td>
                            <td width="10%"><a href="">카카오웹툰</a></td>
                            <td width="14%"></td>
                            <td width="5%">1</td>
                            <td width="1%"></td>
                            <td width="1%"></td>
                          </tr>
                          <tr>
                            <td width="1%"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                            <td width="1%">156</td>
                            <td width="5%">Y</td>
                            <td width="14%">42</td>
                            <td width="20%">작품연재사이트</td>
                            <td width="5%">381</td>
                            <td width="8%"></td>
                            <td width="10%"><a href="">버프툰</a></td>
                            <td width="14%"></td>
                            <td width="5%">3</td>
                            <td width="1%"></td>
                            <td width="1%"></td>
                          </tr>
                        </thead>
                      </table> 
                    </div>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center fi">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <div class ="wrapfin">
                      <div class = "col-3">
                        <button type="button" class="btn btn-danger">X</button>
                        <button type="button" class="btn btn-danger garb"></button>
                      </div>
                      <div class= "col-6"></div>
                      <div class = "col-3 fini">
                        <a class="btn btn-primary" href="#" role="button">U</a>
                        <button type="button" class="btn btn-success">파일</button>
                        <input class="btn btn-primary" type="button" value="+">
                      </div>
                    </div>
                  </div>  
                </div> <!-- 중앙 부분  기본정보-->
            </div>
        </div>   <!-- 중앙 부분-->
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </form>
</body>
</html>