<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/information.css">
</head>
<body>
    <form>
        <div class="container-fluid a">
            <div class = "row ceiling"> <!-- 천장 부분 -->
                <div class = "col-2 ceil1"> 
                    <div class = "logarray">
                        <div>
                            <img src="./img/6a6c56a3b81b4b39038cb4bc0dfe702b.jpg" class ="log">
                        </div>
                        <div class = "logname">
                            <label for="exampleFormControlInput1" class="form-label">Ruppy</label> 
                        </div>
                    </div>         
                </div>
                <div class = "col-8">
                </div>
                <div class = "col-2 "> 
                    <div class = "logarray">
                        <div>
                            <button type="button" class="btn btn-primary bt3"></button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary bt3"></button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary bt3"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "row body">    <!-- 중앙 부분-->
                <div class = "col-2">  <!-- 중앙 부분 메뉴부분-->
                    <nav class = "row l">
                        <ul class = "meun">
                            <div class="accordion accordion-flush lin" id="accordionFlushExample">
                                <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      공지사항
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      회원관리
                                    </button>
                                  </h2>
                                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      서비스관리
                                    </button>
                                  </h2>
                                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                        커뮤니케이션
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                  </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                        시스템관리
                                      </button>
                                    </h2>
                                    <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body"> <a href="">코드관리</a><br><a href="">코드그룹관리</a></div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                                        개인정보관리
                                      </button>
                                    </h2>
                                    <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseweven" aria-expanded="false" aria-controls="flush-collapseseven">
                                        test
                                      </button>
                                    </h2>
                                    <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                  </div>
                              </div>
                                
                            <!-- <li class="col lin"><a href="./information.html">Home</a></li>
                            <li class="col lin"><a href=" ">공지사항</a></li>
                            <li class="col lin"><a href=" ">회원관리</a></li>
                            <li class="col lin"><a href=" ">서비스관리</a></li>
                            <li class="col lin"><a href=" ">커뮤니케이션</a></li>
                            <li class="col lin dropdown"><a href=" ">시스템 관리</a>
                                <ul class ="dropdown-meun">
                                    <li><a href=" ">코드관리</a></li>
                                    <li><a href=" ">코드그룹관리</a></li>
                                </ul>
                            </li>
                            <li class="col lin"><a href=" ">커뮤니케이션</a></li>
                            <li class="col lin"><a href=" ">test</a></li> -->
                        </ul>
                    </nav>
                </div>                  <!-- 중앙 부분 메뉴부분 end -->

                <div class = "col-10 cen">  <!-- 중앙 부분  기본정보-->
                    <div class = wrap1>
                        <div class = wrap2>
                            <div class = "row r1">
                                <label for="exampleFormControlInput1" class="form-label">기본정보</label> 
                            </div>
                        </div>
                        <div class = wrap3>
                            <div class = "row r r2">
                                <div class="col-3">
                                    <label for="exampleFormControlInput1" class="form-label">코드그룹</label> 
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>선택하세요</option>
                                      </select>
                                </div>
                            </div>
                            <div class = "row r r3">
                                <div class="col-3"><label for="exampleFormControlInput1" class="form-label">코드</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput1" aria-label="Disabled input example" disabled></div>
                                <div class="col-3"><label for="exampleFormControlInput2" class="form-label">코드&nbsp;(ANOTHER)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput2"></div>
                                <div class="col-3"><label for="exampleFormControlInput3" class="form-label">코드&nbsp;이름</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="한글, 영어대소문자, 숫자"></div>
                                <div class="col-3"><label for="exampleFormControlInput4" class="form-label">코드&nbsp;이름(영문)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput4" placeholder=" 영어대소문자, 숫자"></div>
                            </div>
                            <div class = "row r r4">
                                <div class = "col-3"><label for="exampleFormControlInput5" class="form-label">사용여부</label> 
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>선택하세요</option>
                                      </select></div>
                                <div class = "col-3"><label for="exampleFormControlInput6" class="form-label">순서</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput6"></div>
                            </div>
                            <div class = "row r r5">
                                <div class = "col-6">
                                    <label for="exampleFormControlTextarea1" class="form-label"> 설명 </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class = "wrap4">
                            <div class = "row r r6">
                                <div class="col-3"><label for="exampleFormControlInput7" class="form-label">다국어1</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput7"></div>
                                <div class="col-3"><label for="exampleFormControlInput8" class="form-label">다국어2</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput8"></div>
                                <div class="col-3"><label for="exampleFormControlInput9" class="form-label">다국어3</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput9"></div>
                                <div class="col-3"><label for="exampleFormControlInput10" class="form-label">다국어4</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput10"></div>
                            </div>
                            <div class = "row r r7">
                                <div class="col-3"><label for="exampleFormControlInput11" class="form-label">다국어5</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput11"></div>
                                <div class="col-3"><label for="exampleFormControlInput12" class="form-label">다국어6</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput12"></div>
                                <div class="col-3"><label for="exampleFormControlInput13" class="form-label">다국어7</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput13"></div>
                                <div class="col-3"><label for="exampleFormControlInput14" class="form-label">다국어8</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput14"></div>
                            </div>
                            <div class = "row r r8">
                                <div class="col-3"><label for="exampleFormControlInput15" class="form-label">예비1 (VARCHAR TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput15"></div>
                                <div class="col-3"><label for="exampleFormControlInput16" class="form-label">예비2 (VARCHAR TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput16"></div>
                                <div class="col-3"><label for="exampleFormControlInput17" class="form-label">예비3 (VARCHAR TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput17"></div>
                                <div class="col-3"><label for="exampleFormControlInput18" class="form-label">예비4 (VARCHAR TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput18"></div>
                            </div>
                            <div class = "row r r9">
                                <div class="col-3"><label for="exampleFormControlInput19" class="form-label">예비1 (INT TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput19"></div>
                                <div class="col-3"><label for="exampleFormControlInput20" class="form-label">예비2 (INT TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput20"></div>
                                <div class="col-3"><label for="exampleFormControlInput21" class="form-label">예비3 (INT TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput21"></div>
                                <div class="col-3"><label for="exampleFormControlInput22" class="form-label">예비4 (INT TYPE)</label> 
                                    <input type="text" class="form-control" id="exampleFormControlInput22"></div>
                            </div>
                            <div class= "row r r10">
                                <div class="col-1">
                                    <input class="btn btn-primary bt1" type="button" value="메뉴">
                                </div>
                                <div class ="col-10"></div>
                                <div class="col-1">
                                    <input class="btn btn-primary bt2" type="button" value="end">
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>              <!-- 중앙 부분  기본정보 End -->
            </div>
        </div> <!-- container end -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </form>    
</body>
</html>